[2015-08-19 12:22] rosariorobinson opened #8 "Date format"
Date format in the app should be MM/DD/YYYY.

[2015-08-21 02:22] ankita-kalra commented on #8
Format changed in my latest commit.

https://github.com/systers/malaria-app-android/commits/ankita-gsoc-v1

Commit: @de3ccd3

![device-2015-08-20-222916](https://cloud.githubusercontent.com/assets/2662871/9399997/6d367566-47d9-11e5-8487-b98c0a0bd807.png)
![device-2015-08-20-223103](https://cloud.githubusercontent.com/assets/2662871/9399998/6d3b072a-47d9-11e5-981f-8c59662fbbbc.png)

[2015-10-13 08:53] #8 closed

[2015-11-01 06:12] chhavip opened #14 "Export to Android studio"
As the project still exists in Eclipse ADT and support for same is fast receading, it is beneficial if the project is exported to Android Studio.

[2016-01-02 08:24] yatna opened #23 "App crash on SecondAnalyticalFragmentActivity"
When the current date is between months January to April, the application crashes on the SecondAnalyticalFragmentActivity. When the current date is between month May to November the application works fine. When the month is December the app does not crash on the SecondAnalyticalFragmentActivity but crashes on clicking the December progress bar in the ThirdAnalyticalFragmentActivity.java .

[2016-02-23 12:04] AM1A commented on #23
Tried resolving it,created a pull request.

[2016-03-03 16:10] ankita-kalra commented on #23
@AM1A  attach short clip from the app showing status of issue.

[2016-03-04 07:17] InsectiousApp opened #28 "About "gsoc 2016" for Systers"
Are only boys selected for gsoc projects in Systers organization ?? because in past only girls are selected in various projects

[2016-03-04 20:09] InsectiousApp opened #31 "Contributing for "malaria-app-android""
How can i contribute for this project for GSOC 2016 under your organization

[2016-03-06 00:19] jproft commented on #28
Hi @InsectiousApp,

Please see systers/ossprojects/issues/4 for May's response to this question. Both men and women are welcome to participate in GSoC with Systers. :)

[2016-03-06 00:19] #28 closed

[2016-03-06 00:21] jproft commented on #31
Hi @InsectiousApp,

Please see our blog post about involvement in GSoC here: http://systers-opensource.blogspot.com/2016/03/gsoc-2016-how-to-get-involved.html

[2016-03-06 00:21] #31 closed

[2016-03-06 06:42] ankita-kalra opened #33 "Making app adaptive for all screens and orientation"
Currently, the malaria android application is for limited screens and orientation. The XMLs are to be included for different screen sizes.

[2016-03-06 08:09] Michaeldgeek opened #35 "Making the malaria app adaptive for other languages"
@ankita-kalra : I would like to create a string XML file for French language.

[2016-03-07 14:08] InsectiousApp commented on #33
@ankita-kalra  Hii ankita , can you please elaborate it and how can I start working on it ...

[2016-03-11 14:32] yatna commented on #33
I am working on this issue. Since, there are many layouts and for each layout many sizes , it may take a while.

[2016-03-11 14:40] yatna opened #39 "Shifting the project to gradle build platform"
The project needs to be shifted to a gradle build platform to ensure a greater stability and easy of developing. Gradle enjoys numerous benefits over the traditional build system.

[2016-03-12 18:40] haddada commented on #39
I'am working on it

[2016-03-12 18:47] yatna commented on #39
@haddada I have already done it for ankita-gsoc-v1 branch

[2016-03-12 18:48] yatna commented on #39
You may do it for the others

[2016-03-12 19:31] haddada commented on #39
@yatna I created a pull request to the master branch by mistake ,
should i create it for the other barnchs ?

[2016-03-12 19:35] yatna commented on #39
Actually master and ankita-gsoc-v1 are only active these days... U may create it for the others..collaborators will review and merge them accordingly..

[2016-03-13 10:48] haddada commented on #23
@ankita-kalra  is this issue still open ?

[2016-03-13 16:36] chamika opened #42 "Unused Resource in the application"
These resources can be removed or replaced if used in the application in a hard coded way
Following strings from strings.xml are not used and can be removed
app_homescreen_name
second_analytic_screen_title
cash_label
medication_label
remind_label
location_spinner_label
medication_spinner_label
items_spinner_label
user_medicine_settings_activity_drug_array
location_array
item_array

Following color

[2016-03-14 09:53] haddada opened #46 "TripIndicatorFragmentActivity crashes"
the TripIndicatorFragmentActivity crashes when the user click add Items before adding Departure and Arrivale Date

[2016-03-14 13:26] yatna commented on #46
This issue has been fixed with #13 which was later merged as #37

[2016-03-14 15:22] medhach opened #47 "Adding hardcoded integers, strings to dimens.xml and strings.xml"
I would like to add all the hard coded dimensions and strings to dimens.xml and strings.xml

[2016-03-14 17:05] haddada commented on #46
thank you @yatna ,so the master branch isn't the HEAD

[2016-03-14 17:36] yatna commented on #46
@haddada The ankita-gsoc-v1 is much ahead of master. There may be certain bugs in master which have been fixed in ankita-gsoc-v1 branch. Also there are additional functionalities.

[2016-03-15 05:36] medhach opened #49 "Condense all similar fragment layouts into one."
For the fragment layouts related to the info-section, the text views can be made dynamic, by sending input from the Activity.class' side.
I would like to remove -
1. effectiveness_fragment.xml
2. peace_corps_policy_fragment.xml
3. side_effects_npcv_fragment.xml
4.  side_effects_pcv_fragment.xml
5. side_effects_percentage_fragment.xml
6. volunteer_adherence_fragment.xml

I will add a new xml file -

[2016-03-15 07:21] medhach opened #50 "SecondAnalyticFragment activity crashes"
There is an error while running the second analytic fragment and I would like to remove the error.

[2016-03-15 07:27] yatna commented on #50
This issue already exists #23

[2016-03-15 07:36] medhach commented on #50
Ah, I'm sorry I didn't check.

[2016-03-15 09:42] yatna commented on #50
No worries. It happens :-)

[2016-03-16 15:15] ankita-kalra commented on #49
Hi @medhach , the current version of app has the way to send data to server using volley JSON library, also the data is stored in cache. I will add the requirements related to the Info Hub here.

Elaborate on the need of an extra activity.

[2016-03-19 05:20] ankita-kalra commented on #33
@InsectiousApp The application should look even in big tablet screen, also for landscape orientation currently I have added scroll view, but the layout should be made adaptive.

[2016-03-22 14:25] Yasic opened #52 "SecondAnalyticFragment"
There are a lot of error and some make the app crashed.I forked it and fix some bug.
The main error occurs in the getMonth()
Calendar.getInstance().get(Calendar.YEAR) return the value of (month - 1), not the value of month,so there will be a error when we put the value to "month" array,the app will crash.
And I'm confused why it name the value of month "date",I fixed it,too.
Here is the url of my

[2016-03-23 15:13] anubhakushwaha opened #53 "Arrival Date should not be before departure Date #53"
In case user enters the arrival date as of before the departure date then the tripIndicatorPackingActivity shows setNoOfDrugs to be negative,user should be given an alert as soon as he enters wrong date.Is it a valid issue? Can I fix it?

[2016-03-23 15:28] anubhakushwaha commented on #53
just saw yatna doing a PR for the same , my bad :xD

[2016-03-23 15:28] #53 closed

[2016-03-23 18:18] anubhakushwaha opened #54 "Added a ClickableSpan in DrugArrayAdapter which takes directly to the DrugSite"
What is the use of just displaying the drug sites name user would hardly take the courtesy to copy the link paste it in its search engine and read about it,instead a clickable span would lead it there directly.
Screenshots are below,I have already implemented it can I send a PR?
BEFORE:
![screenshot_2016-03-23-21-04-08](https://cloud.githubusercontent.com/assets/12814245/13995938/861d06f4-f151-11e

[2016-03-23 20:42] Michaeldgeek opened #55 "Set Up Screen Logical Error"
I just noticed a logical error which I would try to describe.
If the user opens the app for the first time (fresh installation) and rotates his/her phone while at set up screen, the user is taken to the MainActivity without providing details.  This is caused by these lines of  code which i have corrected:
Logical error

[code]

Also to make sure that the user is not taken to set up screen, this li

[2016-03-23 20:57] anubhakushwaha opened #56 "Notification should be set to autoCancel"
Notification Builder should be set to autoCancel for the convenience of the user. Though it just requires one line editing,it maybe be irritating for the user to swipe and remove it even though he has already clicked it.

[2016-03-23 21:23] anubhakushwaha opened #57 "The Alarm stops as soon as the notification bar is clicked"
As soon as the user reaches the TripAlarmActivity the alarm should stop as it may irritate the user.
We just need to stop the ringtone as soon as we reach the TripAlarmActivity. I have implemented this as well , can I send a PR for this?

[2016-03-25 03:35] anubhakushwaha commented on #55
hey hi @Michaeldgeek I don't think the app has been designed for landscape mode so better leave it in the portrait mode as done by one of the students in his PR .
https://github.com/systers/malaria-app-android/pull/38

[2016-03-30 05:54] yatna commented on #55
@Michaeldgeek I would like to give a explanation to this. Whenever the screen orientation is changed the activity lifecycle undergoes through the following:
onSaveInstanceState ->onPause ->onStop ->onCreate ->onStart ->onRestoreInstanceState ->onResume
Here this error occurs because checkInitialAppInstall() is called again on orientation change and this time it start the mainActivity. Also, the va

[2016-03-30 06:01] yatna commented on #56
@anubhakushwaha In fact, the ringtone does not stop even on swiping the notification. The user has to explicitly open the app and then close it to turn off the sound. This can be very irritating.

[2016-03-30 08:44] anubhakushwaha commented on #33
@yatna are you still working on this issue? can't see your PR by now,can I do it,incase you aren't.
@ankita-kalra please do let me know

[2016-03-30 10:35] anubhakushwaha opened #58 "Add a Splash screen at the beginning of the app"
@ankita-kalra  Can I add a splash screen at the beginning of the app to give a brief view of the app to the user. I have designed a demo splash screen which will be availed to the user for about 5 seconds.
![screenshot_2016-03-30-16-00-56](https://cloud.githubusercontent.com/assets/12814245/14139504/2022563e-f691-11e5-858f-a2b53bfee607.png)

Animation View has also been included which zooms in and

[2016-03-30 16:19] anubhakushwaha commented on #56
@yatna yup I agree with you,don't you think we can include that too in our issue and remove it because at the end of the day it's the users we are serving.

[2016-03-30 19:37] anubhakushwaha opened #59 "Adding UI testing of current app"
@ankita-kalra The current project only includes DB test,it's equally important to check the proper implementation of the UI components thereby used using Espresso in the different activities.Can I start working upon this?

[2016-03-31 08:27] yatna commented on #56
@anubhakushwaha Sure.

[2016-03-31 10:46] yogeshbalan commented on #14
I have updated the code to AS gradle based system. Can i send a PR to close this issue.

[2016-03-31 16:37] yogeshbalan opened #60 "Better code packaging"
For better understanding of code, it is always advisable to package classes, receivers, services, ui-widgets, fragments, activities etc separately.
According to current set of classes, the code can be divided into following packages
- Receiver
- utils
- data
- fragments
- activities
- ui
- model
- volley
- service

This will ensure new developers to understand and debug code easily

[2016-04-02 20:17] yatna opened #61 "Adding Intro Screens to the app"
Intro screens provides an introduction and gives the users information about the features of the application, when the application is opened for the very first time. I intend to add intro screens using the paolorotolo:appintro library, which creates intro screens with minimum amount of code.

[2016-04-02 20:21] yatna opened #62 "Adding feature to view pending reminder."
Currently the app provides no feature to the user, to view the upcoming trip reminder. I intend to add a view button on the TripIndicatorFragment, clicking on which gives the user, all information about the upcoming reminder. If no reminder is pending, then it will display a "No reminder set" message.

[2016-04-02 20:28] yatna commented on #60
Another hierarchy can be dividing the classes into packages based on different app sections such as Info Hub, Trip Planner, Home etc.

[2016-04-02 20:32] yogeshbalan commented on #60
If we have any service or fragment that is used in two or more places, then above method wouldn't fit. @yatna , What do you say?

[2016-04-02 20:41] yatna commented on #60
@yogeshbalan Currently, I do not think ,there is any fragment which has been used in two sections of the app. Also the service class for both Trip Reminder Alarm and Medication Alarm is different.

[2016-04-02 20:53] yogeshbalan commented on #60
@yatna ,  Not now, but in future course, this situation may occur where same piece of code is used in more than two different places. I agree with the fact that dividing code package into app section is more readable and straight but not modular.

[2016-04-02 21:27] yatna commented on #60
@yogeshbalan Well there are pros and cons to both the approaches. However, as far as any common class is considered in future, it can be placed outside both the packages or in a separate package depending on it's feature, if it occurs in two section or more.
My primary concern with the first approach is the overcrowding in some packages, since most of the classes will belong to fragment and activi

[2016-04-03 03:39] anubhakushwaha opened #63 "Using Realm instead of Sqlite Database"
I came across Realm a few weeks back,it is great with respect to database management as it highly optimizes the app. Using realm provides a better user experience and renders our app faster.

Some of the comparisons can be easily witnessed below.
![desk1](https://cloud.githubusercontent.com/assets/12814245/14230570/8ba71236-f97b-11e5-9acf-284f4630bda0.JPG)
![desk2](https://cloud.githubusercontent.

[2016-04-06 08:17] ankita-kalra commented on #14
Project is already there in android studio and ll be exported in the gradle-build branch.

[2016-04-06 08:17] #14 closed

[2016-04-06 08:19] ankita-kalra commented on #63
Good Find. Start with Third Analytic Fragment Activity where the user is required to insert the data. We can compare the performance of the two versions in real time, to validate above.

[2016-04-06 08:38] ankita-kalra commented on #61
Tutorial Screens will be built instead of intro screens. One of the students worked on it in Google code-in 2015. It needs to be tested and integrated. Something like this is implemented-
![84op4](https://cloud.githubusercontent.com/assets/2662871/14310672/dbad9f84-fc00-11e5-8a35-219bd9dcf85b.png)

[2016-04-06 08:38] #61 closed

[2016-04-06 08:43] ankita-kalra opened #64 "Widget for Trip Reminder"
A widget with features can be created-
1. Shows the Date,Time and Destination of Trip
2. Edit button opens Trip Reminder form of Malaria App and user can edit entries .

[2016-04-06 08:48] ankita-kalra opened #65 "Widget for Pill Tracker"
Instead of opening the app for click on the check or cross button, we can have a widget which has tick, cross and edit button.

The functionalities can be like-
1.  Tick- Medicine Taken
2.  Cross- Medicine Not Taken
3.  Edit- Opens up the specific Day Analytic Page of the app, where we can edit the entry.

[2016-04-06 09:07] ankita-kalra commented on #39
I had project offline in gradle build during GSoC. It ll be committed separately in gsoc-gradle-build branch. The current project structure will remain the same, because it can anyway be imported to Android Studio, so no issues with that and will have backward compatibility for others.

[2016-04-06 09:07] #39 closed

[2016-04-06 09:21] ankita-kalra opened #66 "Including Support of Multiple Trips Reminder"
Managing multiple trips effectively. There should be alarm IDs specific of the Trip ID. So multiple alarms are managed effectively.

[2016-04-06 09:26] yatna commented on #64
I am working on this.

[2016-04-06 09:30] yatna opened #67 "Bug in setNumDrugs() function"
If the arrival date of trip is set before the departure date, setNumDrugs() gave a negative result which means number of drugs needed for the trip are -ve. This is logically incorrect because the arrival date cannot ever be before the departure date. Hence,  a check mechanism needs to be added to check that the arrival date is not before the departure date.

[2016-04-06 09:35] ankita-kalra opened #68 "Improving Trip Reminder Notifications"
The reminder which comes in notification has view checklist button currently.

Improvements which can be done-
1. Adding Edit Trip Button with View Checklist.
2. Edit Trip opens the Trip Indicator Filled form where user can change details.

[2016-04-06 09:36] ankita-kalra commented on #67
you created a PR on this right?

[2016-04-06 09:38] yatna commented on #67
Yes #45

[2016-04-06 09:39] ankita-kalra commented on #67
Will be reviewing it.

[2016-04-06 09:39] #67 closed

[2016-04-06 09:40] ankita-kalra commented on #58
Can you add a gif here for the splash screen demo which you have prepared?

[2016-04-06 09:46] Michaeldgeek commented on #65
@ankita-kalra  I am working on it.

[2016-04-06 09:58] anubhakushwaha commented on #63
@ankita-kalra okay sure.

[2016-04-06 10:12] ankita-kalra opened #69 "Testing Calendar and Modification of Calendar Header"
Grid Cell Adapter is used for making the Calendar in the Third Analytic Fragment Activity. Sometimes it takes time to load the calendar, because each grid cell is initialized to make the calendar. This can be compared against a custom calendar view library or modification of existing Android Calendar API can be done, to decrease the processing load.

Currently image is used for showing the weekday

[2016-04-06 14:40] anubhakushwaha commented on #58
![gif](https://cloud.githubusercontent.com/assets/12814245/14320622/65d13fae-fc33-11e5-807d-823e47d61990.gif)

@ankita-kalra ma'am something of this sort.
PS: it's hard taking the screenshots showing the flow.
If you want changes let me know :)

[2016-04-06 14:41] ankita-kalra commented on #52
This doesn't fix, after this current month is showing to be May.

[2016-04-06 14:41] #52 closed

[2016-04-06 15:04] ankita-kalra commented on #23
resolved #32

[2016-04-06 15:04] #23 closed

[2016-04-06 15:05] ankita-kalra commented on #50
resolved #32

[2016-04-06 15:06] ankita-kalra commented on #57
send it

[2016-04-06 15:07] #50 closed

[2016-04-06 15:08] #46 closed

[2016-04-06 15:16] ankita-kalra opened #70 "Improving and Proper Updating of GraphView"
Many grids are made on the background if entered data is scarce. Needs to be taken care of. Also when single data point is there then a constant line should appear.

Smooth updating of graphview is required. Editing data in the Day Analytic Fragment Activity, and returning to second analytic fragment activity does not update the graph view.

[2016-04-08 08:22] anubhakushwaha commented on #57
@ankita-kalra  ma'am sent it.

[2016-04-08 08:32] yogeshbalan commented on #69
@ankita-kalra , I am working on it.

[2016-04-08 08:34] yogeshbalan commented on #60
@ankita-kalra , can you please take a look at this. Thanks

[2016-04-08 09:01] anubhakushwaha commented on #68
@ankita-kalra can I work upon this and send a PR?

[2016-04-09 14:19] anubhakushwaha commented on #68
@ankita-kalra Resolved this issue.
Basically on clicking edit user gets the option of modifying the packing list which refreshes the listview and a new packing list is stored in the database.
![www gifcreator me_vrynrh](https://cloud.githubusercontent.com/assets/12814245/14404082/26129010-fe8c-11e5-9461-06e0900b0cf6.gif)

Gif of which is uploaded below. Can I send a PR for this?

[2016-04-09 21:00] anubhakushwaha opened #74 "Removal of unneccesary drawables"
Copies of the same drawable has been maintained who just vary with respect to their sizes,color and opacity. These all can be implemented dynamically in their respective activities showing their current status via following methods invoked on the buttons after setting their background:

a)setAlpha(float value)
b)setHighlightColor(int color)
c)setLayoutParams(LayoutParams param)

This highly reduce

[2016-04-10 15:36] yatna commented on #64
PR sent #75

[2016-04-10 19:11] yogeshbalan opened #76 "No Touch Feedback in Buttons and EditText"
A certain touch feedback should be provided in android app for assuring user that they are engaging with that particular UI element. A better UX approach will suggest to provide touch feedback whether user hits a **Button**, **EditText** etc. The feedback can be in the following form :-
- Color change of button/editText drawable
- Popup of button (A slight increase in size of drawable with little

[2016-04-11 06:06] anubhakushwaha commented on #76
@yogeshbalan hi, what about a ripple effect ,it works directly using ripple Drawable in lollipop and in pre-lollipop it can be implemented using balysv/material-ripple library,hope I was of some help.

[2016-04-11 10:17] yogeshbalan commented on #76
@anubhakushwaha Since the app is not following **Material Design Guidelines**, I didn't mention ripple as an option to provide feedback. Also adding another module just for adding ripple would not be a good practice. IMO, just modifying background drawable would do the trick. What's say?

P.S : I really appreciate the suggestion :+1:

[2016-04-11 11:29] anubhakushwaha commented on #76
@yogeshbalan Yup great idea :+1:

[2016-04-13 08:06] yogeshbalan commented on #69
@ankita-kalra , I have solved this issue by taking 2nd choice of yours. I have added [Caldroid](https://github.com/roomorama/Caldroid) library to implement calendarView. I will update the documentation of implementation in PR.
here the screenshot of it.
![screenshot_20160413-131548](https://cloud.githubusercontent.com/assets/6052857/14486754/37571e3e-017c-11e6-8dc5-1b21ba2ff5b6.png)
![screenshot_2

[2016-04-13 08:09] yogeshbalan commented on #69
Here's the APK with caldroid changes.
[Malaria Prevention_1.0.apk.zip](https://github.com/systers/malaria-app-android/files/216625/Malaria.Prevention_1.0.apk.zip)

[2016-04-14 07:05] ankita-kalra commented on #69
Have you compared the performance?

Adding a new library without major performance change might be taxing.

Here's the APK with caldroid changes.
Malaria Prevention_1.0.apk.zip
<https://github.com/systers/malaria-app-android/files/216625/Malaria.Prevention_1.0.apk.zip>

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub
<https://github.com/syster

[2016-04-15 18:11] yogeshbalan commented on #69
Hi @ankita-kalra ,
I have ran some performance test  on both apps. Here are the results :-
- I ran **GPU rendering test** on **ThirdAnalyticFragment** (The previous implementation) here's the result
![rsz_screenshot_without_caldroid](https://cloud.githubusercontent.com/assets/6052857/14569720/06f4561a-035e-11e6-8450-387da75bfc19.png)

 Then I ran same test on **CalenderViewActivity** (The new impl

[2016-04-18 09:00] anubhakushwaha opened #78 "Logical Errors"
1.After a queried date earlier than the first time taken entered,all the other dates coming after it their adherence Level should be changed accordingly.
 2.When current day skipped and later any previous date updated from DayAnalyticFragment Activity then MedicineLastTaken inFirstAnayticFragment remains blank instead of being updated.

[2016-04-18 09:05] #78 closed

[2016-04-18 09:06] anubhakushwaha opened #79 "Logical Errors"
1.After a queried date earlier than the first time taken entered/edited through DayAnalyticFragment ,all the other dates coming after it their adherence Level should be changed accordingly.

a)When queried date < first Time
        - the interval changes for all drug taken dates
        - takenCount changes for the period

b)When queried date >=first Time&& queried date<=current
       - takenCoun

[2016-10-11 18:52] MeepyMay opened #88 "Update ReadME"
Hi @ankita-kalra  ... @rosariorobinson and I are trying to prepare for GHC Open source day and we need help with the ReadME. Can you help with updating the ReadME with more specifics on setup? The goal is to environment ready on a USB in case there are WiFi issues.

Is it possible to have README updated by Friday or Saturday (10/14 or 10/15 respectively) at the latest? We really need your help.

P

[2016-10-16 13:08] shamathmika commented on #74
@anubhakushwaha
Can I work on this?

[2016-10-16 13:11] shamathmika commented on #76
@yogeshbalan @anubhakushwaha
Is this done?

[2016-10-16 13:38] anubhakushwaha commented on #74
@shamathmika it's the mentor who gives the permission to go ahead and work on an issue especially when it's provided by some contributor other than the mentor,it's not yet known if this issue has been resolved by the assigned gsocer this year or even if it's of prime importance for the project as a whole,a person other than the mentors cannot  give you any permission to work ahead or not until the

[2016-10-16 13:47] shamathmika commented on #74
@anubhakushwaha
Okay, thank you.

[2016-10-18 23:04] MeepyMay commented on #88
@yatna Can you update the ReadMe to include **detailed** instructions on setting up the environment? Something similar to the [Development section on Malaria iOS](https://github.com/systers/malaria-app-ios#development).

[2016-10-19 07:14] yatna commented on #88
@MeepyMay Sure, started working on it.

[2016-10-27 20:20] yatna commented on #88
@MeepyMay To build the gradle version of the app, you need to merge my PR #84 into the code base. After that the project can be cloned and opened in android studio using the ankita-gsoc-gradlebuild branch. I can add these steps to build the project in the README.md but they will only work after the PR is merged.

[2016-10-27 20:38] yatna commented on #88
@MeepyMay Meanwhile you can build the adt version of the application (which is how I build it before this GSoC). This is a bit length, but it worked for me.
This doc was created by Ankita last year, I have modified it as required. https://docs.google.com/document/d/18LdXPewdUepmq9sEJMu7yHoUpwRAAaaDwHhnu08DOTY/edit?usp=sharing

[2016-11-01 07:31] chhavip commented on #76
@shamathmika no it hasnt been done yet

[2016-11-10 11:37] saketkumar95 opened #89 "Gradle problem with .svg files"
The latest gradle plugin is not recognizing some of the image formats that used to work before.

`malaria-app-android/app/src/main/res/drawable/calendar_header.svg:
Error: The file name must end with .xml or .png`

Solution to this could be

- we can change the version in build.gradle by switching back to v1.2.2 which supports .svg files.

- To put them in src/main/res/raw or src/main/assets folde

[2016-11-14 11:33] saketkumar95 opened #99 "Hardcoding the string in string.xml file."
There are many values / string which are hardcoded in the .xml file. It should be stored in the single file so that it can be accessed to the same text from anywhere in the app.
I would send the PR soon when i get assigned.

@MeepyMay Can i work on this?

[2016-11-14 14:34] Ebaneck commented on #99
+1 If we might support multi language some day soon

[2016-11-14 16:23] anubhakushwaha commented on #74
@MeepyMay can I go ahead with this because since long no mentor has been responding to the open issues. thanks

[2016-11-15 08:38] saketkumar95 commented on #99
Can i just hard code the values in dimens.xml and strings.xml ?

[2016-11-24 17:44] anubhakushwaha opened #105 "Add an alert dialog to display game info before the start of each game."
The current version of the app doesn't gives info about the games incorporated .Create alert dialog boxes on clicking the games and add small descriptions about the respective games.

[2016-11-24 17:50] anubhakushwaha opened #106 "Correct alignment of months name"
Currently the months' names displayed in the last tab of Malaria Home Screen tend to overflow to next line in case of lack of space. Adjust name of month and progress bar as to fit in a single line or name of month in one line and progress in the next.

[2016-11-24 17:58] saketkumar95 commented on #105
Can i work on it?

[2016-11-24 18:11] anubhakushwaha commented on #105
@saketkumar95 No,this issue is allocated for GCI (Google Code In -2016) for pre-university students.You can pick any other free issue.

[2016-11-27 17:26] chhavip opened #107 "Suggest a better reset icon."
![screenshot_20161127-225317](https://cloud.githubusercontent.com/assets/7212638/20650449/9c2282f0-b4f4-11e6-941a-3ee5c3ba9bbb.png)

The current one looks more like a settings icon. Suggest better ones.

[2016-12-02 19:02] codingblazer opened #109 "App Crash if empty file path for Reminder tone"
App crashes if the file path is empty in SET REMINDER TONE as shown below -
![ezgif com-optimize](https://cloud.githubusercontent.com/assets/13872065/20846466/c2189694-b8ef-11e6-9d1b-2d99940895d6.gif)

[2016-12-02 19:04] codingblazer commented on #109
There should be a check on file path - It must not be empty (validation) and file selected is of audio type (verification).

[2016-12-02 19:14] vickyjjj commented on #105
I will take this issue. Is there a preferred location to get my descriptions  of the game approved? (i.e. here, GCI task comments, or Slack)

[2016-12-03 06:08] chhavip commented on #105
You can submit a link to a google doc containing the descriptions in the comments section on your gci instance of the task, that will help the mentors to provide live suggestions and comments and easier for you to edit too.

[2016-12-03 06:12] chhavip commented on #109
Sounds good! would you like to take it up?

[2016-12-03 06:16] codingblazer commented on #109
@chhavip Yeah sure

[2016-12-03 08:34] codingblazer commented on #109
Fixed #110

[2016-12-03 14:18] chhavip commented on #109
Hey @codingblazer , thank you for the PR, the norm is to not close the issue until the PR is approved and merged so in future please wait for the same before closing an issue! Will review as soon as possible.

[2016-12-03 14:21] codingblazer commented on #109
@chhavip Will keep it in mind in future. Thanks.

[2016-12-03 14:52] codingblazer opened #111 "App crash in SecondAnalyticFragment"
App crashes if user opens the last month progress bar (December here) as shown below -

<img src="https://cloud.githubusercontent.com/assets/13872065/20860094/2d9e75a4-b996-11e6-87db-5b1691b77e11.gif" height="350" width="200">

[2016-12-03 17:28] chhavip commented on #111
@codingblazer Please provide an analysis of why you feel this is so and how would you go about correcting the same.

[2016-12-03 19:35] codingblazer commented on #111
@chhavip
The bug occurs only when the month is December and because of below mistake -
`calendar.set(Calendar.MONTH,intmon+1);
 month = _calendar.get(Calendar.MONTH);`

Here, value of **intmon** is 11 for December and in **calendar.set()**, we are trying to set **intmon+1** i.e 12 which results in overflow and thus value set is 0 (instead of 12).
In next step, value of **month** becomes 0 (since w

[2016-12-03 19:41] codingblazer commented on #111
@chhavip
Sorry if I am not clear with explanation but problem is travelling between many methods before reaching crash which makes it hard to explain.
Problem can be solved as follows -
`calendar.set(Calendar.MONTH,intmon); month = _calendar.get(Calendar.MONTH)+1;`

Can I make a PR ?

[2016-12-04 06:20] chhavip commented on #111
@codingblazer Good enough explanation! Go ahead :)

[2016-12-04 06:44] vickyjjj commented on #105
Pull request #113 added.

[2016-12-04 11:40] vishwesh3 opened #114 "Add actions in notification itself"
It would be much better if we add "Not taken", "taken", and snooze button in the notification itself. As of now it is showing in dialog in activity.

Yes , I would like to work on this.

[2016-12-04 17:47] chhavip commented on #111
Fixed by #112. Closing.

[2016-12-04 17:47] #111 closed

[2016-12-04 17:49] #109 closed

[2016-12-06 09:33] Ebaneck opened #115 "Adding Welcome / Intro screens in malaria app"
Add Intro screens in the malaria app as a great way of showcasing the major features of the app.

The user can navigate through each slide using swipe gesture or using the next button.

![2iuvk](https://cloud.githubusercontent.com/assets/10956602/20920064/d18580e0-bb9e-11e6-9a90-1b44ff4b1819.png)

[2016-12-06 10:23] vishwesh3 commented on #114
@ankita-kalra @yatna Please review it.

[2016-12-06 11:50] yatna commented on #114
@vishwesh3 You can go ahead with this. Just try to stick to the following-
1. Try to keep the UI of the notification similar to the trip reminder notification.
2. Pressing the taken/ not taken/ snooze button must dismiss the notification along with the background notification sound.
3. The notification must be fixed ie it can't be dismissed by left/ right swipe action.

[2016-12-06 11:52] vishwesh3 commented on #114
@yatna Ok. I will soon create PR.

[2016-12-07 08:23] vishwesh3 commented on #114
Created PR #116

[2016-12-08 13:24] Ebaneck commented on #115
Proposed new intro for Malaria android app.

Feedback is welcome!!

![pjimage](https://cloud.githubusercontent.com/assets/10956602/21011498/d869db68-bd51-11e6-8036-2114cd9b64be.jpg)

![pjimage 1](https://cloud.githubusercontent.com/assets/10956602/21011502/deca477c-bd51-11e6-8c89-66c0cfddb85f.jpg)

[2016-12-09 17:30] yvsssantosh opened #118 "Removal of HTTPAsyncTask class"
Since HTTPAsyncTask class is not used anywhere I think it can be removed

 @chhavip ,@ankita-kalra, @yatna
Kindly review so that i can go ahead with a PR

Thanks :)

[2016-12-10 12:52] InfernoCoder commented on #106
Hi, I fixed this issue for GCI [here](https://github.com/systers/malaria-app-android/pull/119).

[2016-12-11 06:05] yatna commented on #118
@yvssantosh Yes, the HTTP Requests are now being made in the ServerRequests class. You can go ahead with a PR.

[2016-12-11 07:14] yatna opened #120 "Add badges to the 3rd category in the Achievement Room"
Currently in the Achievement Room, only the first 2 categories display badges based on their associated score. This has to be extended for the third category as well . The third category should be based on the point accumulated by planning trips using the app's trip planner facility. Any ideas on how to distribute points and which badges to keep are welcome, but the basic philosophy behind any ide

[2016-12-11 07:40] yvsssantosh commented on #118
@yatna
I've made a pull request
Kindly review :)

[2016-12-14 09:29] MKDEVELOPEMENT commented on #105
so someone has done this already?

[2016-12-14 09:44] anubhakushwaha commented on #105
@MKDEVELOPEMENT No worries,you can work upon it provided we don't sense any plagiarism as GCI is very strict on these terms.

[2016-12-14 12:43] InfernoCoder commented on #105
@anubhakushwaha Here's my [PR(#122)](https://github.com/systers/malaria-app-android/pull/122).

[2016-12-14 18:14] sridharjajoo opened #123 "Bug in RapidFire Game"
When someone chooses an answer from the list of 3 options then other buttons are still active . So the user will be able to click all the other options as well which creates many errors . Choosing options multiple times leads to skipping of subsequent questions.
@chhavip @ankita-kalra @yatna Can I work on it?

[2016-12-15 05:12] yatna commented on #123
Nice catch @sridharjajoo. You can go ahead with this. Disable rest of the buttons when an option is chosen.

[2016-12-15 05:14] yatna commented on #118
Issue fixed. @yvsssantosh close this issue.

[2016-12-15 06:29] sridharjajoo commented on #123
@yatna PS:I have made a pull request.Kindly review it.

[2016-12-15 08:35] yatna commented on #120
This issue is free for anyone to take up. @chhavip can you please label it as free. Thank You.

[2016-12-15 09:15] anubhakushwaha commented on #120
@yatna This is a published task in GCI-2016.

[2016-12-15 15:26] #118 closed

[2016-12-15 15:58] sridharjajoo opened #126 "Bug in the RapidFireGame Timer"
While playing the quiz if we press the exit button the timer is stopped.A dialog box opens up which has two options OK and CANCEL. When the CANCEL button is pressed the game is resumed but the timer doesn't resume from the original time when it was stopped.
@chhavip Can i work on the issue?

[2016-12-15 19:21] yatna commented on #126
@sridharjajoo Go ahead :+1:

[2016-12-15 19:34] sridharjajoo commented on #126
@yatna I have a small doubt...where should I make the changes....on a separate branch originating from the master or on the previous branch where I had made the last commit?

[2016-12-15 19:48] yatna commented on #126
Create it on the same branch, else both PRs will contradict each other. Or else once the PR gets merged pull changes to your local repo and then create a fresh branch from master.

[2016-12-16 03:11] sridharjajoo commented on #126
@yatna I'll opt the standard way.As soon as my previous PR gets merged, I'll send another PR.

[2016-12-16 03:14] top-gun007 opened #127 "App crashing when we click on Medicine Store"
**Summary:**

App crashes when we click on medicine store

**Steps to reproduce:**

- Navigate to the fragment where the tabs badge room/rapid fire etc appear.

- select medicine store.

- app crashes.

**Device and Android version:**

Era X1 (Android Marshmallow)

**Screenshots**
![image](https://cloud.githubusercontent.com/assets/15179401/21250566/43fa3c86-c36c-11e6-8705-e241def776d9.png)

![ima

[2016-12-16 03:22] top-gun007 commented on #70
is this issue fixed?

[2016-12-16 05:44] chhavip commented on #123
Closing as it is now fixed.

[2016-12-16 05:44] #123 closed

[2016-12-16 05:44] chhavip commented on #126
Can work on this now.

[2016-12-16 05:45] chhavip commented on #114
Closing this issue. @yatna, please create a new issue for the notification button display

[2016-12-16 05:45] #114 closed

[2016-12-16 05:50] chhavip commented on #127
Can you inspect as to why the app crashed? Because it doesn't on my device (Sony Xperia, Android 6.0)

[2016-12-16 10:09] top-gun007 commented on #127
Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.String.compareTo(java.lang.String)' on a null object reference
                                                                            at com.peacecorps.malaria.activities.MedicineStore.displayMedicineStore(MedicineStore.java:58)

[2016-12-16 10:17] top-gun007 commented on #127
I am checking weather the problem is persisting on other devices too.

[2016-12-16 10:35] top-gun007 commented on #127
**The following code section is causing problem in method displayMedicineStore() of MedicineStore.java**
`if(drugName.compareTo("Mefloquine")==0){
            if(medicineStore>=0){
                daysLeft.setText(medicineStore+" Weeks");
            }
            else{
                medicineStore=medicineStore*-1;
                daysLeft.setText(medicineStore+" Weeks Due");
            }

[2016-12-16 11:45] sridharjajoo commented on #126
@yatna @chhavip I have sent the PR . Kindly review it.

[2016-12-16 15:40] riddhik84 opened #129 "Add support for app Accessibility"
Provide android:contentDescription to user interface controls to support accessibility via talkback.

[2016-12-17 06:40] yatna commented on #127
@top-gun007 try resetting your app using the gear icon on the home page, reinstall the app. Tell if the problem still persists.

[2016-12-17 06:44] pandilladivya commented on #65
@ankita-kalra @yatna
Is this done?
If not can I work on this?

Thank you :)

[2016-12-17 12:06] top-gun007 commented on #127
**I think I found the root cause of the problem. The app on your cell phone would also crash if you do the following:**

- Reset the app and don't set up your drug and close the app and reopen it.

- When you reopen it the setup screen won't be shown and when you go to medicine store the app would crash.

**Reason**

- I guess SharedPref are written with null values.

**Please look into it and if

[2016-12-17 15:43] yatna commented on #127
@top-gun007 Nice catch. I guess we should work on the root cause itself, that is, the user should not be able to reach the home screen without setting up a medicine. App crash at medicine store is just one implications, there are various areas apart from that where the application won't function properly. Try to figure out a way so that the user can't navigate to the homepage without setting up th

[2016-12-17 15:47] yatna commented on #65
Completed in GSoC 16 @chavvip can you please close this.

[2016-12-17 16:14] #65 closed

[2016-12-17 16:16] chhavip commented on #127
@top-gun007 , good work. A proof of concept is always good way to go for solving a problem, makes easier for us to define the work and for you to find the root cause. Hope you learned with this! When you can come up with a proper solution, you are welcome to go ahead with working on it.

[2016-12-17 17:46] sridharjajoo opened #130 "Issue related to PlanMyTrip Activity"
1) When the departure date or the arrival date is set to any past date , the trip reminder alarm is still generated which shouldn't happen. I propose that whenever the user sets such a date then immediately a TOAST Message should pop up reminding him to fill the future dates.

2) When the Trip Reminder alarm notification appears in the notification bar , it is unresponsive . It would be better if

[2016-12-17 18:02] top-gun007 commented on #127
Thanks @yatna and @chhavip.

I propose to create a bool in SharedPref to check if all fields are set by user and if any discrepancy is found the user have to first set up his medicines on app startup only then he would be able to continue.

Can I proceed with this approach?

[2016-12-18 07:58] InfernoCoder commented on #129
Done [here (#131)](https://github.com/systers/malaria-app-android/pull/131).

[2016-12-18 12:57] yatna commented on #33
Completed in GSoC 16 @chhavip Please close this one too.

[2016-12-18 13:00] yatna commented on #57
Completed in GSoC16 @chhavip please close this one too.

[2016-12-18 13:02] yatna commented on #59
Completed in GSoC16 @chhavip Please close this issue too.

[2016-12-18 13:03] yatna commented on #60
Fixed in GSoC16. @chhavip Please close this issue too.

[2016-12-18 13:05] yatna commented on #62
Feature added in widget in GSoC16 .

[2016-12-18 13:05] #62 closed

[2016-12-18 13:06] yatna commented on #64
Completed in GSoC16. @chhavip Please close this as well.

[2016-12-18 13:07] yatna commented on #70
Fixed in GSoC16 . @chhavip Please close this issue as well .

[2016-12-18 13:10] yatna commented on #99
Issue already exists #47 . @chhavip Please close this issue . Thank You :-)

[2016-12-18 13:28] yatna commented on #130
1. You can fix this. Just setting the condition that departure date must be equal to or ahead of current date will work. Condition for arrival date to be ahead of departure date is already present.
2. I think the purpose of the reminder is just to remind the user about the trip, hence opening up the app isn't required.
3. Actually we added this feature during the last GSoC, but it was removed late

[2016-12-18 13:49] yatna commented on #129
@riddhik84 Sorry, I missed this issue.
Since, @InfernoCoder  has already sent a PR, so you can either send a fresh PR for yourself or else we can merge the existing PR. Your call.

[2016-12-18 16:19] #99 closed

[2016-12-18 16:19] #70 closed

[2016-12-18 16:19] #64 closed

[2016-12-18 16:20] #60 closed

[2016-12-18 16:20] #59 closed

[2016-12-18 16:20] #57 closed

[2016-12-18 21:38] yatna commented on #127
Sure, as long as it serves the purpose , it's good to go with. Also, if the orientation is changed on the setup page, user is directly taken to the home page without setting up the medicine. So , keep in mind to fix this issue as well.

[2016-12-19 05:47] chhavip commented on #127
@top-gun007 If your boolean indicates that the values have not been set, the user can be shown the setup page again till the values are set. Can go ahead while keeping in mind what @yatna has pointed out.

[2016-12-19 10:20] riddhik84 commented on #129
@yatna I don't have PR for this issue. I have raised it for GCI task :)

[2016-12-19 10:32] top-gun007 commented on #127
ok @chhavip @yatna will sumbit a PR soon.

[2016-12-19 10:39] free4murad opened #132 "In UserMedicineSettingsFragmentActivity, if time is not selected error message or a toast should be shown."
Currently - In `UserMedicineSettingsFragmentActivity` if the user doesn't enter time and presses `Done` the user cannot proceed further. This is because the button is disabled.

My suggestion - Enable the button. If the user doesn't enter the time a toast message asking him to do so will appear. Only when the user enters the time, he will be able to go further.

@chhavip @yatna Should I make a PR

[2016-12-19 13:14] sridharjajoo opened #134 "App crashes in SecondAnalyticsFragment Activity"
1)Reset the app
2) Go to the fragment_second_analytics_Screen and make sure neither of the (TAKEN) OR (NOT TAKEN)
 button is checked.

![screenshot_2016-12-19-18-41-21-618_com peacecorps malaria](https://cloud.githubusercontent.com/assets/20684618/21314052/f798ddfa-c61a-11e6-8cbf-3fc9ae7430e0.png)

3)Check any of the given mentioned progress bar and choose a date when the user has missed
 entering

[2016-12-19 13:16] free4murad opened #135 "In PlanMyTrip there are some bugs."
1. In location user can just enter spaces.
2. If the user marks the pills in the list but does not select any pill the reminder is set.
3. In packing list the user can add an item and put spaces there.

@chhavip @yatna Should I make a PR for this issue.

[2016-12-19 14:19] chhavip commented on #135
Nice catches, can go ahead.

[2016-12-19 19:01] free4murad opened #138 "Bug in MedicineStore activity."
Even if the user enters 0 for the number of medicines required, a mail or message asking for zero medicines is sent.

@chhavip @yatna Should I make a PR for this issue.

[2016-12-20 19:43] yatna commented on #132
@free4murad I don't think this is really an issue. The design of the app is same for iOS and Android  and we try to keep it the same unless there is a bug .

[2016-12-20 19:45] yatna commented on #134
@sridharjajoo First try to find the reason for the crash, then we will move ahead to fix it. Nice catch 👍

[2016-12-20 19:46] yatna commented on #138
Go ahead 👍

[2016-12-21 16:09] HimanshuS01 opened #140 "Removing Viewpager External Dependency"
 Currently app is using the following library for Viewpager indicator.
`compile 'com.viewpagerindicator:library:2.4.1@aar'`

We can replace it by custom made Viewpager (along with dot indicators) and UI will remain *exactly* the same. Also the dots color being currently used is not in contrast and less visible which should be changed.
I will like to work on these if its intended enhancement.
@chha

[2016-12-21 16:54] free4murad commented on #132
@yatna
I agree that it's not actually an issue, but usually when a button is disabled the color of the button is faded to show that its disabled.
if the color is same then usually a toast or snackbar is shown to tell the user that the button is disabled.

[2016-12-22 05:34] chhavip commented on #140
For now this is not needed as we are not facing any grave issues with the external library.

[2016-12-22 05:55] HimanshuS01 commented on #140
Hey @chhavip ,this issue will reduce the apk size and also reduce external dependencies from app ,thereby enhancing the app performance.

[2016-12-23 06:57] pandilladivya commented on #58
@ankita-kalra @anubhakushwaha  @chhavip

Is someone working on this?
If not, I would like to take up this issue.

Kindly reply
Thank You :)

[2016-12-23 08:06] chhavip commented on #58
I personally do not favor Splash Screens until the application required heavy background processing as it is an anti-pattern. http://cyrilmottier.com/2012/05/03/splash-screens-are-evil-dont-use-them/. Not sure if this should be done.

[2016-12-24 15:43] yatna commented on #132
@free4murad Yeah, the button should be faded. For now, make the 'Done' button faded if reminder time is not chosen i.e make it disabled. If  in future we switch to toasts or snackbar we will let you know.

[2016-12-24 16:19] yatna commented on #140
@HimanshuS01 As told by @chhavip we are not facing any issues with the viewpagerindicator  library. Using a custom made viewpager will increase our codebase with no evident changes in the app. Also, since the number of swipes made while using the app are small, I don't think optimizing it will make any evident change to the user. As far as the apk size is considered , if you can reduce the size wi

[2016-12-24 17:44] yatna commented on #138
@free4murad +1 for using regex.
@chhavip Looks good to me.

[2016-12-24 17:54] free4murad opened #143 "Reduce apk size."
We can reduce the apk size significantly by using vector drawables for small icons and reducing the image size using some software.
The image quality will be not be affected.

[2016-12-25 08:39] HimanshuS01 opened #145 "Re-Fetching of InfoHub data on orientation change"
Data related to malaria in terms of policies,side-effects,etc in information hub fetches again when we change our device orientation.

![](http://im2.ezgif.com/tmp/ezgif.com-9cbcf214ee.gif)

@chhavip @yatna @MeepyMay I have solved the issue,should I send PR?.Thanks.

[2016-12-25 08:51] codingblazer commented on #145
@HimanshuS01 Actually, its happening with all of them in info hub. I found other problems too in landscape. (Going to make issue soon).

[2016-12-25 08:52] codingblazer opened #146 "App crashes in Rapid Fire"
If the orientation is changed while playing rapid fire game , then app crashes after sometime.
(You may exit the game or wait on rapid fire game itself, app will crash anyway)

Demo - [Crash Video](https://youtu.be/trW1_835G4Q)

I have solved this. Should I send a PR @chhavip @yatna?

[2016-12-25 08:52] codingblazer opened #147 "Rapid Fire Game State not maintained when change orientation"
When the orientation is changed in rapid fire game the following things happens -

1. Exit Dialog box if was opened, gets closed
2. Game over dialog if opened gets closed
3. Game restarts from begining - score, time , question all gone

I have solved this problem. Should I send PR. @chhavip @yatna

[2016-12-25 08:52] codingblazer commented on #147
**Reason** - The activity is recreated in landscape when orientation is changed.
**What I have done** - I have used savedInstance to store the values - millisLeft (so that it can start from same time) , current question no. and current score which are used for initialization for newly created landscape activity.
For dialog I am using Window Manager which if attached to dialog doesn't  allow dialog

[2016-12-25 08:53] codingblazer commented on #146
**Reason** - When we change the orientation, normally Android destroys the portrait activity and creates a new one for landscape but this has one exception - If any thread or AsynchTask is active it is not destroyed. In this game, though portrait activity is destroyed but its Counter timer (thread) of portrait is still running in background and when game finishes, this timer tries to show dialog i

[2016-12-25 09:27] HimanshuS01 commented on #145
@codingblazer sure.

[2016-12-25 09:33] HimanshuS01 opened #148 "Myth vs Fact Mini game starts from beginning on orientation change"
When user plays Myth vs Fact mini game and on changing the device orientation suddenly ,the game starts from very the beginning.

![ezgif com-optimize](https://cloud.githubusercontent.com/assets/18090596/21506136/d75b1164-cc93-11e6-925f-5bdbf8acb753.gif)

Reason being:Activity is recreating on changing the device orientation.

Fix:I have used  onSaveInstanceState() method for solving this issue.

[2016-12-25 09:41] sridharjajoo opened #149 "MediaPlayer in InfoHub->PeaceCorpspolicy"
The mediaplayer keeps on playing in the Peace Corps Policy until it is finished even if we switch back to previous Activity .It would be better if the media stopped playing when we are no longer on that particular activity. This generally happens after we change the orientation and then the back button is pressed.
Should I send a PR?@yatna @chhavip

[2016-12-25 09:45] m-murad opened #150 "Plan My Trip Activity data is lost."
If we change the screen orientation, Plan My Trip loses all data except location.

Data like dates, packing list should also be saved on changing screen orientation.

@chhavip @yatna should I make a PR for this?

[2016-12-25 09:59] free4murad commented on #143
I saw this in Goole youtube channel.
You can check -
https://www.youtube.com/watch?v=wlFVIIstKmA

I think this will significantly reduce the APK size.

[2016-12-25 10:00] codingblazer opened #151 "App crashes due to Setup screen"
If the orientation is changed on Setup Screen-
1.The home screen opens instead of Landscape Setup screen
2. After this if we open Medical Store, the app crashes.
@chhavip @yatna Should I send PR for this.

[2016-12-25 10:03] sridharjajoo commented on #151
@codingblazer It was already issued in #127

[2016-12-25 10:08] sridharjajoo opened #152 "Bug related to Fragment First Analytic screen"
When the orientation of the screen is changed then the data of the field Medicine Taken Last Time is lost .For eg. If the last time the medecine was taken was on 25/12 on changing orientation it changes into 25/11
Should I issue a PR?@yatna @chhavip

[2016-12-26 05:39] free4murad opened #153 "Some changes needed in Manifest.xml"
There are following issues in manifest.xml
1. There are some lines of code in manifest.xml which are not being used.
`android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />`
We Can remove these lines.

2. Android studio is showing a suggestion for `<Application>` tag that we make the app indexable by Google

[2016-12-27 08:51] HimanshuS01 opened #154 "Timer doesn't stops in rapidfire"
**Current Behavior** -When app goes in background (pressing Home button or phone call comes / focus shift to anything else), the quiz timer is still running and often user face Game over when he comes back.

**Expected Behavior** -The timer should pause when focus is shifted anywhere else and timer should resume when user comes back.

@chhavip @yatna I have solved this issue. Should I send a PR.

[2016-12-27 08:57] codingblazer commented on #134
@sridharjajoo Have you solved it yet

[2016-12-27 09:53] sridharjajoo commented on #134
@codingblazer I have solved it . I'll send a PR.

[2016-12-27 13:20] chhavip commented on #151
closing this issue as it already exists.

[2016-12-27 13:20] #151 closed

[2017-01-01 14:45] vaibhavchellani opened #157 "data not taken if orientation is changed during initial setup ."
when user starts to set up which medicine he takes ,and changes the orientation the app progresses to next activity without the user pressing done .

attaching screenshots below,
![image](https://cloud.githubusercontent.com/assets/19390504/21581604/680a0a4e-d05e-11e6-85aa-6d1aa41ae2af.png)

when orientation is changed it proceeds to next activity,without the data.

![image](https://cloud.githubuse

[2017-01-01 15:23] vaibhavchellani opened #158 "bug in setup screen"
The app proceeds to next activity without the user pressing done if the data fields are filled ,then app is closed and restarted .
I think that user should be able to proceed only after he presses done .
Method to recreate: open app->enter details->close app without pressing done ->open app again

can i work on this ?

[2017-01-01 15:37] vaibhavchellani opened #159 "media player keeps playing even when app is closed"
the media player keeps on playing even when app is closed when the following steps are done when on infohub->peacecorps activity is opened and talkback is enabled,
change orientation->home button pressed

i dont know if issue #149 will be considered the same as this one so i created a new one ,sincere apologies if the issue is considered to be same .

[2017-01-01 19:34] vaibhavchellani opened #160 "share dialogue box pops up when the button says email"
In the tab Medicine Store ,when clicked on the button Order Medicine a dialogue box opens which asks for no of medicines and has 2 buttons Email and Message .Attaching screenshot,

![image](https://cloud.githubusercontent.com/assets/19390504/21582649/11211faa-d087-11e6-8676-466850300f46.png)

The issue is when Email button is pressed the pop-up appears which usually appears when share button is pr

[2017-01-02 06:13] free4murad commented on #160
@vaibhavchellani
Gmail is not the only mailing application.
The user may be using some other application.

I suggest on clicking email, pop-up showing just email apps should appear.

[2017-01-02 06:17] vaibhavchellani commented on #160
yes,actually i meant apps like gmail and other email apps should be shown not whatsapp ,facebook and other social apps .
thanks for correcting !

[2017-01-03 09:45] vaibhavchellani opened #162 "Dialogue box disappears when orientation changed"
when the user navigates to the activity (attaching screenshot), clicks on edit and then changes the orientation without pressing okay  the dialogue box disappears. I think this should be fixed.Also the toast message appears again when orientation is changed. I would like to work on it , if permitted.

![image](https://cloud.githubusercontent.com/assets/19390504/21604025/fb651cc0-d1c6-11e6-9e64-222

[2017-01-03 09:57] vaibhavchellani opened #163 "medicine last taken not visible"
The medicine last taken field does not show date when the user changes if he has taken the medicine on a particular date through the calendar and comes back to the activity where medicine last taken is shown he sees this
![image](https://cloud.githubusercontent.com/assets/19390504/21604302/721923f6-d1c8-11e6-9e66-c9b776e10f77.png)

Although when the app is taken out of focus and then in focus agai

[2017-01-03 20:09] free4murad opened #164 "Reducing AKP size using gradle."
We can reduce the APK size by setting `shrinkResources` property to true in build.gradle file of the app.
By using this android studio will not include the unused resources and assets that are not referenced to in the code.

[2017-01-03 20:12] free4murad commented on #164
@chhavip @yatna
I am making a PR for this.

[2017-01-03 20:19] yatna commented on #148
@HimanshuS01 Yes, you can. Nice work.

[2017-01-03 20:27] yatna commented on #149
@sridharjajoo Yes, you can go ahead. Make sure the speech runs continuously without restarting even if orientation is changed in middle.

[2017-01-03 20:29] yatna commented on #150
@free4murad  Yes, seems there are a lot of bugs involving orientation change. You can go ahead.

[2017-01-03 20:32] yatna commented on #152
@sridharjajoo Yes, first try to find the root cause of the problem. Then you can send a PR.

[2017-01-03 20:44] yatna commented on #143
@free4murad Try it and let us know how much are you being able to reduce.

[2017-01-03 20:47] yatna commented on #145
@codingblazer The app has not been checked for orientation changes. Hence, there are a lot of bugs involving orientation change. Keep searching. You can send a PR for this one.

[2017-01-03 20:50] yatna commented on #147
@codingblazer Nice work. You can send a PR.

[2017-01-03 20:55] yatna commented on #164
Hey, you have already created an issue for this. Please, do not create duplicate issue. You can close this issue.

[2017-01-03 20:56] yatna commented on #162
Yes go ahead :+1:

[2017-01-03 20:59] yatna commented on #160
@vaibhavchellani Your argument seems valid. How do you intend to select only the 'mailing' type of applications?

[2017-01-03 21:02] yatna commented on #159
@vaibhavchellani Yes, this issue is more or less the same as #149. No problems, its good that you are going   through the previous issues before opening a new issue. However, you may want to close this one.

[2017-01-03 21:03] yatna commented on #154
@HimanshuS01 Yes, you can send a PR.

[2017-01-03 21:08] yatna commented on #158
This is already being fixed in #133. You can close this issue.

[2017-01-03 21:09] yatna commented on #157
@vaibhavchellani This is being considered in PR #133 . You can close this issue.

[2017-01-03 21:22] yatna commented on #153
1. versionCode and versionName may be used in future when creating updates for the app. Min and target Sdk versions  too convey relevant information.
2. Making the app index-able can be a new feature, but currently we do not want to add anything entirely new, we are more concerned in fixing existing bugs and optimizing existing code. Maybe we can see this in future.

[2017-01-03 21:28] yatna commented on #163
Sorry, I did not understand what exactly you were pointing out to. Can you please rephrase your issue.

[2017-01-03 21:54] codingblazer commented on #146
@yatna Can I send PR for this  :)

[2017-01-03 22:09] yatna commented on #146
Oh, sorry I missed this one . Since you are handing orientation changes in the PR for #147, include this in the same PR, since both are concerned with orientation change.

[2017-01-03 22:10] yatna commented on #164
#143

[2017-01-03 23:44] free4murad commented on #143
@yatna
This issue is different from issue #164

Here I want to compress the size of PNGs and use vector drawables.

Whereas in issue #164 I have used a gradle command which does not include unreferenced resources in the APK.

[2017-01-04 02:03] reverie-ss opened #166 "Back Button in profile page closes app"
On pressing the back button in profile page
Expected Behavior : It should take to the homepage
Actual Behavior : It closes the app
Solution : onBackPresses() method

[2017-01-04 03:00] vaibhavchellani commented on #163
Yes , when user edits if he has taken a medicine on a selected date  or not through the calendar and navigates back to the activity(posted screenshot above ) the date is not visible .
When the app is taken out of focus and then again into focus the date is visible ,but as soon as we switch activities it again disappears .
I hope i was able to explain the issue correctly . I will post a video showi

[2017-01-04 03:01] #159 closed

[2017-01-04 03:03] vaibhavchellani commented on #158
oh , i somehow missed that one

[2017-01-04 03:03] #158 closed

[2017-01-04 03:04] #157 closed

[2017-01-04 03:07] vaibhavchellani commented on #160
@yatna I think this provides a solution http://stackoverflow.com/questions/3312438/how-to-open-email-program-via-intents-but-only-an-email-program ,also i have posted some queries in the slack channel please see . Thank you

[2017-01-04 07:49] yatna commented on #163
No, I get what you are trying to say. Actually changing the last medicine through calendar is not updating the home activity as well as the firstActivity fragment. You can go ahead, but first try to find out the root cause of the problem, then we will move to the PR.

[2017-01-04 07:53] #143 closed

[2017-01-04 07:56] yatna commented on #160
Yes, the first solution to the question is short and apt. I guess that will work. Go ahead.

[2017-01-04 08:28] HimanshuS01 commented on #145
@yatna @chhavip PR sent.Please review it. Thank you :)

[2017-01-04 09:02] HimanshuS01 commented on #154
@yatna @chhavip PR sent. Please review it. Thanks.

[2017-01-04 13:52] vaibhavchellani commented on #163
yes sure im on it !
thanks

[2017-01-04 13:53] vaibhavchellani commented on #160
yeah i am on it !

[2017-01-05 00:20] chhavip commented on #138
Solved via #142

[2017-01-05 00:20] #138 closed

[2017-01-05 09:08] vaibhavchellani opened #169 "Bug in rapid fire game"
In the Rapid Fire game ,if the user clicks on exit button , the timer stops which is exactly what should be happening.A dialogue box pops up having 2 buttons exit and cancel .
The issue is if the user clicks cancel the game continues with the timer paused .
I would like to resolve this issue.

[2017-01-05 15:19] sridharjajoo opened #172 "Bug in TripIndicatorFragmentActivity"
**Issue:**
In this activity when either the departure date or the arrival date is selected a dialog box opens up.Now when there is an orientation change the app crashes.
@yatna @chhavip Can I work on this?

[2017-01-05 15:46] HimanshuS01 commented on #169
Hey @vaibhavchellani This issue has already been created  in #126 .Please close this issue.Thanks. :)

[2017-01-05 15:55] free4murad commented on #172
@sridharjajoo
I think this is a part of issue #150

[2017-01-05 16:00] sridharjajoo commented on #172
In the issue that  have mentioned when the user selects the arrival date or departure date a dialog box opens up and when screen is rotated the "APP CRASHES"and this is different from #150 as that was concerned with the loss of data .

[2017-01-05 16:05] HimanshuS01 commented on #172
Hey @free4murad I think @sridharjajoo point is different in this issue. In issue #150  data is lost during orientation change but in #172 ,app crashes when we changes our device orientation in the presence of dialog.
Thanks .

[2017-01-05 16:06] #169 closed

[2017-01-05 16:14] free4murad commented on #172
@sridharjajoo @free4murad
I know the issue is different. But I was asked to implement the `onSaveInstanceState()`by project maintainer.
While implementing `onSaveInstanceState()` I have solved this issue as well.

[2017-01-05 16:14] free4murad commented on #172
@sridharjajoo
But no issue, I will change my code

[2017-01-06 08:31] HimanshuS01 opened #175 "Message to place order for medicine automatically sends"
**Current Behaviour**
When user going to place an order for medicines, orderMedicineDialog box is generated which shows two option->email and message.On clicking the message button the confirmation dialog is generated to either send the message or not.So if  user select a cancel option or back pressed ,message sends automatically.

**Expected Behaviour**
Message(order should be placed) should only

[2017-01-06 09:14] HimanshuS01 commented on #162
@yatna actually there are also some other bugs related to device orientation.I will update it soon.Thanks

[2017-01-06 17:59] sridharjajoo opened #176 "Dialogbox disappears in BadgeRoom"
**Issue**
When any of the category is chosen in the badge room a dialog box pops up and when device is rotated the dialog box disappears.
@yatna @chhavip Should I send a PR?

[2017-01-06 18:43] HimanshuS01 commented on #176
Hey @sridharjajoo I think there is no point of creating the same orientation problem of dialog similar to issue no #162 ,rather  we can create all the related dialog issues into one .What's say?

As I have already mentioned in the comment of issue number #162 that I will update all the same related orientation issue into one.And I have already started working on it.

@yatna @sridharjajoo can I sen

[2017-01-06 18:50] HimanshuS01 opened #177 "Dialog Related issue in many places in app"
Following dialogs disappears when we changes our device orientation:

1)Add **medicine to store** dialog in Order Medicine Activity
2)**Setting** dialog in Order Medicine Activity
3)**Place order** dialog in Order Medicine Activity
4)Alert Dialogs in Badge rooms
5)**Reset Data**dialog

[2017-01-08 07:57] chhavip commented on #149
Fixed via #171. Closing.

[2017-01-08 07:57] #149 closed

[2017-01-08 08:08] chhavip commented on #127
Fixed via #133

[2017-01-08 08:08] #127 closed

[2017-01-08 08:09] chhavip commented on #153
@yatna , if this is not required at the moment, I would suggest closing the issue.

[2017-01-08 08:14] chhavip commented on #132
Fixed via #144

[2017-01-08 08:14] #132 closed

[2017-01-08 09:38] codingblazer opened #180 "App Crash in Info Hub"
If we press Effective Against Malaria in Info hub and while its loading, orientation is changed, the app crashes sometimes. The logcat is given below -

[code]
<img src="https://cloud.githubusercontent.com/assets/13872065/21748825/18588230-d5b5-11e6-8dcb-8c8ced632e60.gif" height="400" width="200">

@yatna @chhavip Should I send PR ?

[2017-01-08 10:01] mahikaw opened #181 "Generation of sample apk on every merge."
The APK provided in the README file is not updated and could mislead contributors about the progress of the application.
I would like to work on this issue and make this get automatically updated. @chhavip @MeepyMay @yatna please tell me if i can work on this. 😄

[2017-01-08 12:39] yatna commented on #181
@mahikaw Can you provide a description on how you plan you carry out the auto up-gradation of the .apk if any changes are made in the repo?

[2017-01-08 12:47] yatna commented on #175
@HimanshuS01 Yes, go ahead.

[2017-01-08 12:54] chhavip commented on #181
Also update the issue as it does not concern an errorr in Readme but rather continuous build of the APK file.

[2017-01-08 12:58] chhavip commented on #126
Solved via #137

[2017-01-08 12:58] #126 closed

[2017-01-08 12:58] chhavip commented on #130
Solved via #137

[2017-01-08 12:58] #130 closed

[2017-01-08 13:47] sridharjajoo opened #182 "Bug in text to speech in PeaceCorpsPolicy"
**Issue**
When any external media is played in the background and at the same time if text to speech is played,, both of them will play simultaneously which needs attention.

**Solution**
It can be solved using Audiofocus.

@yatna @chhavip Should I send a PR?

[2017-01-08 13:57] sridharjajoo opened #183 "Bug in PlanMytrip Activity"
**Issue**
In the packaging list option the dialog box appears only when we tap on the hint i.e "ADD ITEMS" . The dialog box should appear when we tap on any area of the view .

**Solution**
Just need to change the layout_height and layout_width to "match parent" .

@yatna @chhavip Should I send a P.R ?

[2017-01-08 14:07] chhavip commented on #134
Fixed via #155

[2017-01-08 14:07] #134 closed

[2017-01-08 14:08] sridharjajoo commented on #172
@yatna @chhavip Should I send a P.R for this?

[2017-01-08 14:13] yatna commented on #183
@sridharjajoo Yup, go ahead.

[2017-01-08 14:25] free4murad commented on #181
@yatna @chhavip
We can integrate travis.
It will check the build and can also be configured to upload successful builds.

If you want I can work on this

[2017-01-08 14:29] yatna commented on #182
@sridharjajoo Yes , go ahead. Also make sure tts stops(canceled) when the app goes out of focus, as currently it keeps on playing even if the app is closed. If possible try to stop/resume tts in case of calls and notifications.

[2017-01-08 14:53] free4murad opened #185 "Bug in achivementRoom share message."
In Achievement Room user can share his/her progress.
But the name of the user in the message is Yatna.
We should make change this by making a general message like "Hey, I unlocked a new badge......."

@yatna @chhavip
Is this a bug or is it intended this way.
Also should I make a PR.

[2017-01-08 15:01] free4murad opened #186 "Bug in UserProfile activity."
When we open UserProfile activity the age field has value zero in it. We should remove this value as it hides the hint and user has to delete this to enter new age.

@yatna @chhavip
Should I make a PR?

[2017-01-08 15:38] mahikaw commented on #181
@yatna I am using Travis to carry out the auto upgradation. I have already written scripts for this. Just needed the mentor's confirmation before sending a PR.

@free4murad I have already started working on this and have completed this to a good extent so I request you to let me continue.

[2017-01-08 15:45] free4murad commented on #181
@mahikaw
I just made a suggestion.
You can continue your work.
Wanted to know if the issue is open.

[2017-01-08 18:23] free4murad opened #188 "Memory leak in UserMedicineSettingsFragmentActivity."
There is some code in UserMedicineSettingsFragmentActivity which can cause a memory leak.
These  objects are not collected by a GC event and can cause low memory problem.

@yatna @chhavip
Should I make a PR.

[2017-01-08 20:40] #148 closed

[2017-01-09 01:50] BaaniLeen opened #189 "A toast reporting the error should be raised on the SetUp Screen"
![screenshot from 2017-01-09 07-15-46](https://cloud.githubusercontent.com/assets/22029744/21755541/8f0335c0-d63b-11e6-9387-86e184659a14.png)
In case the user does not choose a "Remind me at" time, and clicks on the done button, a Toast should be raised prompting the user about the error (eg. Please pick a suitable time for the reminder).
@yatna @chhavip Shall I send a PR?

[2017-01-09 03:03] free4murad commented on #189
@BaaniLeen
I suggest this a some days back, but @yatna didn't approve.

Instead she asked me to fade the button until time has not been selected.
PR #144 has been made by me for the same.

[2017-01-10 15:30] mahikaw opened #190 ".gitignore not working"
The gitignore is not working. This is leading to tracking unnecessary build files. This is increasing the size of the repo and everyone has to manually remove them before commiting.

@yatna @chhavip @MeepyMay can I make a PR to fix the same?

[2017-01-10 21:44] yatna commented on #153
@chhavip Yes, I think this is not required at the moment.

[2017-01-10 21:51] yatna commented on #189
@BaaniLeen Sorry but, this issue has been solved already. Please close this issue and keep searching for new issues.

[2017-01-10 21:53] yatna commented on #181
@mahikaw You can go ahead.

[2017-01-11 01:19] BaaniLeen commented on #189
@yatna Sure maam... Thank you :)

[2017-01-11 07:02] HimanshuS01 opened #191 "Generation of dialog box on Back Pressing from MythFact and RapidFire game"
**Current Behaviour**
Presently dialog box is generated when the user press an exit button in MythvsFact and RapidFire  game
to exit from the game.

**Actual Behaviour**
Normally dialog box can also be generated on back pressing from the MythFactGame and RapidFireGame
activities like in other applications.

@chhavip @yatna  can I go ahead and send the PR If this is an intented enhancement ?Thanks.

[2017-01-11 09:50] free4murad opened #192 "Widgets are not updated when changes are made"
The state of the widgets is not updated instantly when changes are made.
eg hwhe we change trip details the widget still shows the old details.

@chhavip @yatna
I am making a PR for this.

[2017-01-11 09:50] free4murad opened #193 "PlanMyTrip active should show the details of currently planned trips."
When we open the plan my trip activity, the fields are blank.
Instead the fields should be populated the details of currently planned trip.
Same should be the case when the activity is opened using widget.

@chhavip @yatna
I am making a PR for this

[2017-01-11 10:00] HimanshuS01 commented on #177
@yatna @chhavip I have solved this issue.Can I send PR? Thanks. :)

[2017-01-12 06:18] chhavip commented on #153
Closing.

[2017-01-12 06:18] #153 closed

[2017-01-12 06:19] chhavip commented on #190
@mahikaw Please wait for approval before sending a PR. They will not be reviewed if haven't been approved before.

[2017-01-12 08:25] chhavip commented on #193
@free4murad, please get your issues approved before making a PR. A certain amount of discussion is required before you should begin working on an issue.

[2017-01-12 08:26] chhavip commented on #186
Yes, go ahead

[2017-01-12 08:28] free4murad commented on #193
Yes,
I am waiting for your approval.

[2017-01-12 11:20] mahikaw commented on #190
@chhavip I had opened this issue in the power up repo too and it had been approved there, so I assumed it would be necessary to add here as well.
 I created the PR just to speed up the process. :)

[2017-01-12 15:48] top-gun007 commented on #115
Are you working on it @Ebaneck ?

[2017-01-12 16:35] codingblazer opened #196 "Landscape UI Problems"
In landscape mode, there are some problems as follows -

1. Text not completely inside the box in MythGame as shown -

![whatsapp image 2017-01-12 at 21 14 31 1](https://cloud.githubusercontent.com/assets/13872065/21898460/f8006352-d912-11e6-97d6-a25d26a57b69.jpeg)

2. Done button in Setup Screen is cutting and not fully inside as shown -

![whatsapp image 2017-01-12 at 21 14 31](https://cloud.git

[2017-01-12 16:47] HimanshuS01 opened #197 "App crashes in MedicineStore Activity"
**Current Behaviour**
If the user enters any big number in **Add medicine to store** dialog then app crashes .

![ezgif com-optimize 3](https://cloud.githubusercontent.com/assets/18090596/21898516/145ae0f4-d913-11e6-8956-5f547bb56c60.gif)

**Logcat for the issue**
01-12 19:59:58.141 4508-4508/? E/AndroidRuntime: FATAL EXCEPTION: main
                                                 Process: com.pe

[2017-01-12 18:13] anubhakushwaha commented on #196
@codingblazer Incase of fragment_second_analytic_screen.xml it is intended to be left aligned to leave space for graphview

[2017-01-12 18:27] top-gun007 opened #198 "Bug: UI doesn't get updated."
**Summary:** UI doesn't get updated when the app is open and notification pops up and if user selects any of the option the changes in "red X", "green check", "medicine last taken" are updated only when app is restarted or orientation is changed.

**Expected Behaviour:** The above mentioned items should be updated at run time not when app is restarted.

**Steps to reproduce:**

- Set a timer.

- K

[2017-01-12 19:29] codingblazer commented on #196
@anubhakushwaha Is it intended for future ?

[2017-01-12 20:01] anubhakushwaha commented on #196
@codingblazer Sorry I didn't get you,the graphview will be updated as per the progress of the user,it's initially not present due to insufficient data but if you try editing previous dates so as to have some data the graph is plotted,I hope I was able to clear else please let me know what exactly you are asking and further in that case the main mentors could also guide you properly.

[2017-01-12 20:21] codingblazer commented on #196
@anubhakushwaha Yeah, I got you. Actually, graphview was not showing when data was less. Now it's visible. Thanks, I am removing this point from the issue. :-)

[2017-01-12 20:27] codingblazer opened #199 "App showing Progress bar for future months"
**Current** - In Second Analytics Screen, the progress bar for old months - Dec, Nov, Oct opens Calendar for Dec 2017, Nov 2017 etc
**Expected** - It should open Dec 2016 , Nov 2016 etc.

@chhavip @yatna Should I send PR for this?

[2017-01-12 21:08] free4murad opened #200 "User name field is multi line."
The users name text field in user profile activity is multi line.
Instead on pressing enter, the next edit text should have focus.

@yatna @chhavip
Should I make a PR?

[2017-01-12 21:13] yatna commented on #190
@mahikaw Please wait till your issue gets assigned to you, as there are unassigned issues which were opened before your issue and it would be unfair to others that we review your PR before theirs.

[2017-01-12 21:26] yatna commented on #185
@free4murad No, that is not a bug. Actually, it is intended to get the registered name from the app. But currently since, registration is still in development phase, for the time the message is temporarily like this.
You can close this issue.

[2017-01-12 21:28] yatna commented on #188
@free4murad Please specify which code and what objects.

[2017-01-12 21:35] yatna commented on #191
@HimanshuS01 No, currently we do not need this enhancement. The back button is disabled currently so the user can exit using the exit button only.
You may close this issue.

[2017-01-12 21:38] yatna commented on #192
@free4murad Widgets are updated after 30 min of making a change. The limit is 30 mins because reducing it further adversely increases the battery drainage and is not recommended by google too.

[2017-01-12 21:40] yatna commented on #193
@free4murad yes you can go ahead.

[2017-01-12 21:44] yatna commented on #180
@codingblazer We are currently holding any orientation change related issue.

[2017-01-12 21:45] yatna commented on #177
@HimanshuS01 We are currently holding any orientation change related issue.

[2017-01-12 21:46] yatna commented on #176
@sridharjajoo We are currently holding any orientation change issue.

[2017-01-12 21:54] yatna opened #201 "Merge develop with master"
Issue #132 was fixed but its corresponding PR #144 was sent and merged in the develop branch. This is causing the new contributors to open the same issue again as they work on the master branch. @chhavip Please either merge the develop with master or else we can ask the assignee of the PR to resend it to the master branch.Thank You.

[2017-01-13 04:00] mahikaw commented on #190
@yatna , Okay. I'll take care of that. :)

[2017-01-13 04:30] free4murad commented on #192
@yatna
i agree about the minimum limit, what I am suggesting is if the user changes the details of the trip the widget will show the old data for another 30 mins.
Instead we can update the widget once the user updates the trip details.

there is no need to update the widget every 30mins. Instead we can update the widget only when trip details are changed.

[2017-01-13 04:53] #191 closed

[2017-01-13 05:03] #185 closed

[2017-01-13 05:41] free4murad commented on #188
[code]

Defining views and context as static causes memory leak.
These are not collected by GarbageCollection events and cause memory problems.

[2017-01-13 06:32] HimanshuS01 commented on #177
@yatna As you have already approved @vaibhavchellani in issue #162 regarding the dialog related issue i.e.  disappearing of dialog box on changing the orientation ,that's why I was asking for the PR.
Thanks :)

[2017-01-13 15:54] top-gun007 opened #202 "Bug: Volley request every time orientation is changed."
**Summary**
Under info hub all the tabs re-download the information whenever orientation is changed.

**Expected Behaviour**
Information should not be re-downloaded after every orientation change.

[2017-01-13 15:57] HimanshuS01 commented on #202
hey @top-gun007 I have already created the same issue in #145 and have sent the PR.Kindly close this issue.Thanks

[2017-01-13 15:59] #202 closed

[2017-01-13 16:42] top-gun007 opened #203 "Wrong information shared through achievements room."
**Summary**
When the user navigates to achievement room and clicks on the share button the following text is shared.

![image](https://cloud.githubusercontent.com/assets/15179401/21937399/57286f62-d9dd-11e6-829f-29d4217e9cbc.png)

[2017-01-13 17:07] harshitagupta30 opened #204 "White Screen on startup for few seconds."
On startup just after installation, a white screen appears for approx 5 seconds and then the main screen appears.
![screenshot_2017-01-13-22-29-03](https://cloud.githubusercontent.com/assets/12701036/21938215/66a6b2c0-d9e0-11e6-8a75-d8d2cded79fc.png)

@yatna and @chhavip please review the issue and let me know.

[2017-01-14 07:01] #146 closed

[2017-01-14 07:02] chhavip commented on #147
Closing as fixed through #174

[2017-01-14 07:02] #147 closed

[2017-01-14 07:04] #145 closed

[2017-01-14 07:51] Ebaneck commented on #115
Hello @top-gun007 I already sent in a pull request.
Link: [https://github.com/systers/malaria-app-android/pull/117]()

[2017-01-14 10:52] HimanshuS01 opened #205 "PeaceCorps logo disappears on changing the orientation"
**Current Behaviour**
PeaceCorps Logo in the Initial SetUp screen disappears on changing the device orientation.

![ezgif com-optimize 4](https://cloud.githubusercontent.com/assets/18090596/21954398/7736c1d0-da75-11e6-95a1-24867043b24c.gif)

**Expected Behaviour**
State of the Logo must be preserved (i.e. at the bottom right ) even after changing the device orientation.

@chhavip @yatna Can I send

[2017-01-14 11:12] HimanshuS01 opened #206 "Bug in medicine store activity"
**Current Behaviour**
In MedicineStore activity user can just enter the value **"0"** in **Add Medicine To Store Dialog** and **Settings Dialog** and a corresponding mail /message for 0 upcoming days(e.g. My malaria pills will last for the coming 0 days only........) is sent.

**Expected Behaviour**
A check should be introduced while entering the values.

@chhavip @yatna Can I send PR for the same

[2017-01-14 18:12] yatna commented on #205
@HimanshuS01 This problem has been reported and assigned in a previous issue. Please close this one.

[2017-01-14 18:15] yatna commented on #203
@top-gun007 Can you be more specific as which part of info you find wrong. I guess you are referring to the name, right?

[2017-01-14 18:19] top-gun007 commented on #203
Yes I was referring to the name.

[2017-01-14 18:19] yatna commented on #206
@HimanshuS01 'Add medicine to Store' Dialog does not generate any msg/email. Email/message is generated by the Order Medicine dialog, where 0 is not allowed.

[2017-01-14 18:24] top-gun007 commented on #203
@yatna please review this issue too https://github.com/systers/malaria-app-android/issues/198

[2017-01-14 18:31] HimanshuS01 commented on #206
@yatna value that is entered by the user in settings dialog(How many days before your medicine ends,....) is used in the email/message generation where user can enter "0" value,so  can introduce check in the settings dialog avoiding user to enter 0.Thanks :)

[2017-01-14 18:31] #205 closed

[2017-01-14 18:54] yatna commented on #188
Good. @free4murad Are such things present in other activities too?

[2017-01-14 18:57] yatna commented on #192
@free4murad Okay, fine. Do it for both the widgets.

[2017-01-14 23:03] shyamsunder007 opened #207 "Bug in User Profile"
1)The problem in the user profile is that if i write my age as any multiple zero digits (more than one). for example if i type "00" and click on save button then  it is not showing any type of warning about this but it is getting saved.
2)I think instead of getting saved it should throw a warning about it.
3)Can i proceed my work on this issue and i think i will be able to complete it as soon as p

[2017-01-15 03:45] free4murad commented on #207
@shyamsunder007
While solving issue #186, I solved this as well.
You can check PR #195

[2017-01-16 12:09] shyamsunder007 commented on #207
Tqu murad,
but can i keep a limit for the age till 150 or 100 and can i PR on this.
@chhavip @yatna

[2017-01-16 13:21] free4murad commented on #188
@yatna
yes i saw it in some other activities as well.

[2017-01-17 08:14] HimanshuS01 opened #208 "Scrolling issue in TripIndicatorPackingDialog in Landscape mode"
**Current Behaviour**
 ListView for the **Packing Items**  dialog  is not scrollable in **Landscape** mode.

![ezgif com-optimize 5](https://cloud.githubusercontent.com/assets/18090596/22012574/bb3d39bc-dcba-11e6-80f6-88c4ef49fb73.gif)

**Expected Behaviour**
List for the packing items in TripIndicatorPackingActivity must be scrollable even in the landscape mode.

**Fix**
We can add a touch listen

[2017-01-17 13:24] free4murad commented on #186
@chhavip
Should I close this issue?

[2017-01-18 02:43] anubhakushwaha commented on #120
@yatna This task was well executed by one of the GCI student,here is the work done by the student.
[5170912315834368_1482271476_malaria app.zip](https://github.com/systers/malaria-app-android/files/712914/5170912315834368_1482271476_malaria.app.zip) It was well executed with the reasons for each badge as well as mentioned in theses slides https://docs.google.com/presentation/d/1iKyyktVKNBQojr6cjh3

[2017-01-18 02:53] anubhakushwaha commented on #106
@chhavip @yatna I guess we can wrap up this issue via #108

[2017-01-18 17:27] #89 closed

[2017-01-18 17:31] anubhakushwaha commented on #54
@yatna @chhavip Is this an intended enhancement or a valid issue?

[2017-01-21 04:52] chhavip commented on #54
yes, this is a valid requirement.

[2017-01-21 04:53] chhavip commented on #196
@codingblazer Go ahead.

[2017-01-21 05:00] chhavip commented on #197
Display a warning in case user crosses an appropriate limit or this can even be implemented as a drop down of values.

[2017-01-21 05:02] chhavip commented on #115
@yatna @MeepyMay Will this be a required addition to the application?

[2017-01-21 07:48] anubhakushwaha commented on #54
@chhavip Can I send the PR for the same?

[2017-01-21 07:50] codingblazer commented on #196
@chhavip Sure

[2017-01-22 05:03] ShailyTyagi opened #211 "Problems with back button"
Current action: Even if the user is not on the home screen ,on pressing the back buton ,it closes the app instead of taking the user to the previous screen .
![2017_01_22_10_20_51](https://cloud.githubusercontent.com/assets/18248854/22180142/de5812ce-e08d-11e6-842d-5a77cd38b7ad.gif)

Expected : If the user is o home screen ,it should close the app .Otherwise it should bring the user back to the pr

[2017-01-22 05:36] anubhakushwaha commented on #211
@ShailyTyagi  Good catch but this has been implemented as a GCI task via #139 .Closing this issue hence,try finding more :)

[2017-01-22 05:36] #211 closed

[2017-01-22 05:39] anubhakushwaha commented on #166
Closing. Fixed via #139

[2017-01-22 05:39] #166 closed

[2017-01-22 05:40] anubhakushwaha commented on #160
@vaibhavchellani Updates?

[2017-01-22 05:44] anubhakushwaha commented on #140
@HimanshuS01 Working on this?

[2017-01-22 05:45] anubhakushwaha commented on #163
@vaibhavchellani Updates?

[2017-01-22 05:51] anubhakushwaha commented on #204
@harshitagupta30 Before you try to fix it,can you identify the cause behind it and how you are planning to resolve it?

[2017-01-22 05:51] ShailyTyagi opened #213 "Problems with back button"
Current action:Even if the user is not on home screen ,on pressing the back button the app closes.
![2017_01_22_10_20_51](https://cloud.githubusercontent.com/assets/18248854/22180371/606ed65c-e094-11e6-9acd-c83226e1e137.gif)
Expected: If the user is not on home screen and if the back button is pressed then the user should be directed to the previous screen. If the user is on home then only the bac

[2017-01-22 05:55] #213 closed

[2017-01-22 06:39] codingblazer commented on #199
@yatna I think this issue has been left. Please review :-)

[2017-01-22 07:14] vaibhavchellani commented on #160
yes , actually i had solved the issue and tried sending a PR ,but because .gitignore was not working the .idea files also got commited . I just found a solution to that problem and will be sending a PR within 2 days to all the issues.
Sincere apologies for the delay caused .

[2017-01-22 10:09] harshitagupta30 commented on #204
@anubhakushwaha That is happening because of the android's cold start. If we are running any type of processing code in our splash screen, all your processing code will run before the screen draws its components in Android so the white screen appears for few seconds.
But when I checked the app on the other devices it's working absolutely fine. That's an issue with zenfone2.
So, I guess you can clo

[2017-01-22 10:17] codingblazer commented on #204
@anubhakushwaha Its happening on other devices too. I checked on Moto X style nd Nexus 5. Maybe we can put it on hold until someone find the root cause for this.

[2017-01-22 10:59] mahikaw opened #214 "landscape mode"
In "plan my trip" activity, if after choosing departure and arrival dates, we rotate the device, all of it gets reset.

![device-2017-01-22-162030](https://cloud.githubusercontent.com/assets/21010060/22181987/53585314-e0bf-11e6-90c8-96dd1da26604.png)

![device-2017-01-22-162052](https://cloud.githubusercontent.com/assets/21010060/22181990/87869286-e0bf-11e6-9ef4-d694f5b64adc.png)

@chhavip @yatna

[2017-01-22 11:02] free4murad commented on #214
@mahikaw
this is a duplicate issue.
Already reported in #150.

[2017-01-22 11:11] mahikaw commented on #150
@free4murad are you still working on this?

[2017-01-22 11:11] mahikaw commented on #214
closing.

[2017-01-22 11:11] #214 closed

[2017-01-22 11:13] mahikaw opened #215 "App appearance issues"
The icons of "plan my trip", "info hub" and "user profile"  at the bottom are of a different colour as compared to the rest of the app's elements.

![device-2017-01-22-160903](https://cloud.githubusercontent.com/assets/21010060/22182012/ff480c3c-e0bf-11e6-9196-b8e193895fdb.png)

Also, in the Home Screen, the existence of other activities by swipe isn't very obvious to the user because a light colo

[2017-01-22 11:44] free4murad commented on #150
Yes

On Jan 22, 2017 4:41 PM, "Mahika Wason" <notifications@github.com> wrote:

[2017-01-22 12:13] mahikaw commented on #150
It has been almost a month since you posted this issue, in case, you're busy with something, I could take help you in solving it. @free4murad

[2017-01-22 12:15] free4murad commented on #150
Actually I have made a PR which changes this very file, if I make a PR for
this now there will be a merge conflict.
Once my earliest PR is merged I will send a PR for this.

On Jan 22, 2017 5:43 PM, "Mahika Wason" <notifications@github.com> wrote:

[2017-01-22 12:24] mahikaw commented on #150
@free4murad you can make different branches for different issues. It will help in such situations. :)

[2017-01-22 23:04] free4murad opened #216 "App crashes for high numerical values."
The app crashes if we enter high numerical values.
This can be seen in following places
1. `Age` in `UserProfile`.
![age](https://cloud.githubusercontent.com/assets/17262180/22186983/7da2781a-e124-11e6-9971-193cc63a0d8b.png)
2. `Settings` dialog box in `Medicine Store`.
![settings](https://cloud.githubusercontent.com/assets/17262180/22186984/87fb6d3a-e124-11e6-97f8-7a113bf64e7d.png)
3.  `Add Medic

[2017-01-23 03:25] HimanshuS01 commented on #197
Sure @chhavip and I would like to ask what limit should I set  while entering the value ?

[2017-01-24 07:16] HimanshuS01 commented on #140
@anubhakushwaha yes.  I am on it.

[2017-01-24 16:54] #33 closed

[2017-01-24 17:01] anubhakushwaha commented on #47
@medhach Working on this?

[2017-01-24 17:03] anubhakushwaha commented on #49
@medhach Working on this?

[2017-01-24 17:11] anubhakushwaha commented on #55
Closing,fixed via #133

[2017-01-24 17:11] #55 closed

[2017-01-24 17:16] anubhakushwaha commented on #58
Closing as of now.

[2017-01-24 17:16] #58 closed

[2017-01-24 19:17] #79 closed

[2017-01-25 06:21] medhach commented on #47
@anubhakushwaha No, you can go ahead.

[2017-01-25 10:24] medhach commented on #49
@anubhakushwaha Nope.

[2017-01-25 11:21] #49 closed

[2017-01-25 14:08] anubhakushwaha commented on #204
In order to avoid hiccups and visually respond as soon as possible to the user interaction, the system displays a temporary window: the “starting window” also known as the “preview window”.There are pretty many ways methods to resolve this,further I hope after resolving #42 we will have less resources to preload . @harshitagupta30 @codingblazer Incase you want to work upon it let us know :)

[2017-01-25 14:11] harshitagupta30 commented on #204
@anubhakushwaha Hi, I am willing to work on this issue :)

[2017-01-25 14:14] harshitagupta30 commented on #42
@anubhakushwaha Can I send the PR for the same? :)

[2017-01-25 14:24] anubhakushwaha commented on #42
Yeah please check thoroughly regarding all the resources and then you can send :+1:

[2017-01-25 14:25] anubhakushwaha commented on #204
Go ahead and let us know the best solution you can implement :+1:

[2017-01-25 14:27] harshitagupta30 commented on #42
@anubhakushwaha yeah definitely! Thanks :+1:

[2017-01-25 15:02] HimanshuS01 commented on #175
@chhavip @yatna I have tried a lot but it seems that  when we click the Send or Cancel button on the view confirmation dialog, it will send a message to its handler in its thread. But it seems that there is no way for capturing the click event(Send or Cancel) in the view confirmation dialog(i.e. generated automatically by android studio) .With reference to the below link:
http://stackoverflow.com/

[2017-01-25 15:07] HimanshuS01 commented on #177
@yatna @chhavip can I send PR for this issue ? Thanks.

[2017-01-25 15:36] free4murad commented on #42
@anubhakushwaha @harshitagupta30
I have already removed some unused resources in PR #165
Also I have used properties in gradel which will exclude any unused resources from the final build.

[2017-01-25 15:39] free4murad commented on #42
In PR #165 I have reduced the size of APK from 2.4MB to 1.1 MB

[2017-01-25 15:44] free4murad commented on #175
@HimanshuS01
I think it can be done using startActivityForResult function

[2017-01-25 15:46] HimanshuS01 commented on #107
some reset icons:
![refresh-48](https://cloud.githubusercontent.com/assets/18090596/22297318/efea50bc-e342-11e6-9058-0c5d22e3c38b.png)
![restart-48](https://cloud.githubusercontent.com/assets/18090596/22297319/f01cc128-e342-11e6-8a1b-3f36ec105c15.png)
![rotate left-48](https://cloud.githubusercontent.com/assets/18090596/22297321/f02ebdb0-e342-11e6-9cef-508b8077a18e.png)

@chhavip @yatna can we set

[2017-01-25 15:55] HimanshuS01 commented on #175
startActivityForResult() method is basically used to  send information from one activity to another and vice-versa. The android startActivityForResult method, requires a result from the second activity (activity to be invoked). Hey @free4murad  but in our case we are not getting any result from second activity(i.e. SMS application)
so this can be simply done by just launching the SMS application t

[2017-01-25 16:05] HimanshuS01 commented on #54
@anubhakushwaha @chhavip @yatna can I take up this issue  and send the PR for the same?
Thanks.

[2017-01-25 16:09] free4murad opened #217 "In PlanMyTrip a user can select previous dates."
Current behaviour - The user while planning a trip can select days which have already passed.

Expected behaviour - All the previous dates should not be available to the user. The departure date can be any day after the current date. Also the arrival date should be after departure date.

@yatna @chhavip @anubhakushwaha
Should I make a PR.

[2017-01-25 16:14] free4murad commented on #163
@anubhakushwaha
If this issue is free can I work on it??

[2017-01-25 16:39] free4murad commented on #76
@anubhakushwaha
Can I work on this

[2017-01-25 16:47] anubhakushwaha commented on #76
Before you proceed,how are you planning to do it?

[2017-01-25 16:50] free4murad commented on #76
I suggest changing the color of the views by listening to motion events on the views.

[2017-01-25 16:51] anubhakushwaha commented on #54
@HimanshuS01 Yes go ahead.

[2017-01-25 17:01] anubhakushwaha commented on #76
Go ahead :+1:

[2017-01-25 17:10] anubhakushwaha commented on #217
@free4murad It has been resolved via #137

[2017-01-25 17:21] free4murad commented on #217
@anubhakushwaha
I am suggesting something like this. Here the future dates are not avalible for selection
![screenshot_20170125-224520](https://cloud.githubusercontent.com/assets/17262180/22301315/a2683030-e350-11e6-8e7b-aa533f14723f.png)

Currently previous dates are available to be selected. But on selecting the previous dates the user gets a toast.
I suggest disabling the previous dates.

[2017-01-25 17:36] anubhakushwaha commented on #217
@yatna @chhavip What do you think ?

[2017-01-25 17:45] vaibhavchellani commented on #160
im having issues creating a pull request .
@anubhakushwaha  if you could step by step guide me it would be very helpful for me .
Thank you !

[2017-01-25 17:46] free4murad commented on #160
@vaibhavchellani
What issue are you facing.
I can help.

[2017-01-25 17:46] free4murad commented on #160
Is it the multiple commits??

[2017-01-25 17:49] top-gun007 commented on #204
@anubhakushwaha I have a way around for this. Since nearly every app except you-tube shows white screen on its start up. We can implement the same method what you-tube is using.
I am uploading a working solution if you like it then I can send a PR.
![myimage](https://cloud.githubusercontent.com/assets/15179401/22302337/48bbda4c-e354-11e6-9bb1-5c40e07cd125.gif)

[2017-01-25 17:56] vaibhavchellani commented on #160
No , actually I cloned the forked repository and it contains only the master branch .  How to fetch all branches ?

[2017-01-25 18:00] free4murad commented on #160
@vaibhavchellani
It has all the branches. You are only seeing local branches.
To see all branches
Open the project in android studio.
I bottom right corner you will see git: master
click on that, select a remote branch the select checkout as new local branch

[2017-01-25 18:01] free4murad commented on #160
![screen shot 2017-01-25 at 11 30 58 pm](https://cloud.githubusercontent.com/assets/17262180/22302792/6c318524-e356-11e6-8306-036f7d78242b.png)

![screen shot 2017-01-25 at 11 31 24 pm](https://cloud.githubusercontent.com/assets/17262180/22302796/70e549fc-e356-11e6-9f95-670a48a322bc.png)

[2017-01-25 18:02] free4murad commented on #160
@vaibhavchellani
Hope this helps.

[2017-01-25 18:04] vaibhavchellani commented on #160
Yes it does .
I have a habit of using the terminal and git branch showed only master .

[2017-01-25 18:05] vaibhavchellani commented on #160
@free4murad  thank you for your help :)

[2017-01-25 19:07] HimanshuS01 commented on #216
hey @free4murad  if you don't mind can I solve the second one along with  my issue no. #197 as these dialogs are in the same activity(Medicine Store) and just require  a few line of code. Thanks :)

[2017-01-25 19:09] free4murad commented on #216
@HimanshuS01
Sure, no issue.

[2017-01-25 19:49] harshitagupta30 commented on #204
@anubhakushwaha If we add **<item name="android:windowDisablePreview">true</item> ** in the current theme which is AppTheme in style.xml we can resolve this issue changing the way it looks. I cross checked on 4 devices with different android version and its working absolutely fine.
Since the initial screen we see known as Preview screen if we disable it we can get desired output.

Can I send the P

[2017-01-26 04:59] vaibhavchellani commented on #163
@free4murad  i`m on it .

[2017-01-26 05:27] vaibhavchellani commented on #162
should i send a PR ?
or are Orientation issues in hold?

[2017-01-26 07:34] nitish1211 opened #222 "No error message displayed asking the user to enter the time at setup"
I think there should be a Toast or a SnackBar displayed when there is incomplete entering of data asking the user to fill up the missing field. Also changing the color of the text red on pressing of the done button seems like a good way of getting the user's attention to the required field.

Currently:
![g_20170126_1215393](https://cloud.githubusercontent.com/assets/13676490/22322952/5b20e2ba-e3c5

[2017-01-26 07:58] nitish1211 opened #223 "Strings should be stored in resources(R.strings) and typo in Toast message"
The strings for the messages in the toasts are hard-coded but they should be stored in the `strings.xml` file. I would like to move a lot of these strings in toast messages and other locations to `strings.xml` . This would make the code cleaner.
It would be on similar lines to #47
Also there is a typo in one of the toast messages:
Here it should be `"Reminder time missing"`

![g_20170126_1320153](

[2017-01-26 08:12] HimanshuS01 commented on #47
@anubhakushwaha can I work on this issue ?

[2017-01-26 08:40] anubhakushwaha commented on #223
Yes you can go ahead but make sure to give meaningful string names so that each toast is easily identifiable while any kind of modification in future and yes you can correct the typo.Before you send a PR please mention which all toasts you refer to.

[2017-01-26 09:28] nitish1211 commented on #47
@HimanshuS01 I'm already working on this please find another issue.

[2017-01-26 09:31] free4murad commented on #222
@nitish1211
I already reported this issue here - #132
And have solved it here - #144

[2017-01-26 10:11] HimanshuS01 commented on #47
Hey @nitish1211 In issue #223 you are talking about placing all the hardcoded strings in R.strings(strings.xml) but in this issue( #47 ) we also have to place all the hardcoded integers into dimens.xml  .
If you don't mind can I work on the second one (adding hardcoded integers in dimens.xml).What's say?
Thanks :)

[2017-01-26 10:52] nitish1211 commented on #47
Okay sure. We'll split it. :)
You can do the `dimens.xml`
I'll do the `strings.xml`

[2017-01-26 10:58] HimanshuS01 commented on #47
@nitish1211 Sure :)

@anubhakushwaha @yatna @chhavip can I work on this issue? Thanks

[2017-01-26 15:53] codingblazer commented on #204
@anubhakushwaha The solutions mentioned above are good but they just hides the white screen but not actually reduce startup time. If you say, we can combine these solutions (I can reduce startup time and @harshitagupta30 can add theme) which will be best solution.

[2017-01-26 16:11] yatna commented on #115
@chhavip I think we can add this because we discussed about it during the last GSoC but couldn't add due to lack of time.

[2017-01-26 17:08] anubhakushwaha commented on #204
@codingblazer How are you planning to reduce the startup time? and @harshitagupta30 please attach a gif of your implemented work.

[2017-01-26 17:12] harshitagupta30 commented on #204
@anubhakushwaha Check this out :)
![videotogif_2017 01 26_22 39 44](https://cloud.githubusercontent.com/assets/12701036/22341905/adaafe32-e418-11e6-8611-fb659d299a24.gif)

[2017-01-26 18:13] free4murad commented on #204
@harshitagupta30
I think what you have done is that you have disabled the `preview window`.
If so the drawback is that app will take more time to start. The time for which user has to wait for the  launcher activity to draw on the screen will remain the same.

or If you have used some other approach please tell.

[2017-01-26 18:17] harshitagupta30 commented on #204
@free4murad yeah I have done that thing only. I don't think its increasing any significant amount of time during startup.

[2017-01-26 18:20] free4murad commented on #204
@harshitagupta30
I never said it increase the launch time it keeps it the same.

[2017-01-26 18:23] free4murad commented on #115
@yatna @chhavip @anubhakushwaha
this PR adds images to the project that will be included in the APK.
We should reduce the size of these images by using PNGCrush or some similar software.

[2017-01-26 18:23] harshitagupta30 commented on #204
@free4murad but in above comment you mentioned that "the drawback is that app will take more time to start" but I couldn't find that happening.

[2017-01-26 18:24] free4murad commented on #204
@harshitagupta30
Oh sorry, made a mistake.
My bad.

[2017-01-26 18:28] harshitagupta30 commented on #204
@free4murad No issues. Have you faced this issue while using disabled the preview window?

[2017-01-26 18:36] free4murad commented on #204
@harshitagupta30
Actually I was working on some other app sometime back and was facing the same problem.

I think the slow load is because of the complex and big `UserMedicineSettingsFragmentActivity`.

Also `UserMedicineSettingsFragmentActivity` has some memory leak as reported in issue #188 (It might also be responsible for the slow load).

Also if we add a welcome screen in the app (issue #115

[2017-01-26 18:43] harshitagupta30 commented on #204
@free4murad Yeah I also have the same views! :+1:
@anubhakushwaha Whats your opinion? :)

[2017-01-26 23:13] codingblazer commented on #204
@anubhakushwaha I will be doing the profiling of the app using adb to measure the actual time for the cold startup. After this i will use the tools like Method tracer and inline tracing to identify the bottlenecks causing this problem and solve them. After this i will look for some common issues like memory leak, heavy initialization in onCreate(), global objects etc

[2017-01-27 06:09] anubhakushwaha commented on #204
@harshitagupta30 @free4murad @top-gun007 @codingblazer For the time being we can put this on a hold and would proceed with it as per the progress of #115

[2017-01-27 06:09] #204 closed

[2017-01-28 12:32] m-murad opened #224 "Overdraw in app"
There is some overdraw in the app.
Should I send a PR for this issue.

[2017-01-28 13:47] anubhakushwaha commented on #224
@free4murad How are you planning to do it? By removing unnecessary backgrounds?

[2017-01-28 14:23] free4murad commented on #224
@anubhakushwaha
yes,
also i am through google docs to check for other ways.

[2017-01-28 17:23] dilpreet96 opened #225 "User should be prompted"
**Current behaviour**

On starting app ,user is asked to setup a reminder.
If Done Button is clicked without selecting a time no prompt appears to select the timings.

<img src="http://i.giphy.com/l3q2KHa2QGrTnfm3m.gif" /><br>

**Expected behaviour**
User should be prompted to select timings if he/she directly clicks on "Done" Button.

Should I send a PR for this issue?

[2017-01-28 17:39] vaibhavchellani commented on #225
I think this issue was created(#132) and closed .

[2017-01-28 17:49] anubhakushwaha commented on #225
It has always been resolved via #144
Closing.

[2017-01-28 17:49] #225 closed

[2017-01-28 17:51] anubhakushwaha commented on #222
Done similar functionality via #144 . Closing.

[2017-01-28 17:51] #222 closed

[2017-01-29 01:33] #189 closed

[2017-01-29 01:33] anubhakushwaha commented on #188
@free4murad Any updates?

[2017-01-29 01:34] #186 closed

[2017-01-29 01:34] anubhakushwaha commented on #186
Closing.Fixed via #195

[2017-01-29 01:38] anubhakushwaha commented on #135
Closing.Fixed via #136

[2017-01-29 01:38] #135 closed

[2017-01-29 01:39] #63 closed

[2017-01-29 06:53] free4murad commented on #188
@anubhakushwaha was Waiting for approval.
Will send a PR today.

[2017-01-29 17:22] yatna commented on #160
@vaibhachellani To view all the branches form terminal use git branch -a

[2017-01-29 18:49] yatna commented on #224
@free4murad Please elaborate the issue. Mention what problems are occurring due to overdraw and how those can be overcome.

[2017-01-29 18:54] yatna commented on #217
@free4murad Yes, you can go ahead.

[2017-01-29 18:55] free4murad commented on #224
@yatna
overdraw causes performance and battery issues.
Overdraw basically is when GPU draws a single pixel multiple times. eg
![overdraw](https://cloud.githubusercontent.com/assets/17262180/22406919/35d5c5ce-e682-11e6-8edc-610e56b0830e.png)
here if complete cards are been drawn but only part of the cards are shown this is overdraw.
It will cost extra and useless GPU computation and battery.

[2017-01-30 16:05] top-gun007 commented on #224
Painters Algorithm right @free4murad

[2017-01-30 16:07] top-gun007 commented on #198
@anubhakushwaha can I go ahead with this

[2017-01-30 16:08] top-gun007 commented on #203
@yatna, @anubhakushwaha can I proceed with this.

[2017-01-30 19:26] free4murad commented on #203
@top-gun007
i reported the same issue in #185
was asked to leave the message as it is

[2017-01-31 03:02] top-gun007 commented on #203
thanks @free4murad

[2017-01-31 12:29] codingblazer commented on #199
@yatna @chhavip @anubhakushwaha Can i work on this ?

[2017-01-31 16:34] anubhakushwaha commented on #199
@codingblazer Could you please report the cause of this bug before implementing it.

[2017-01-31 18:12] HimanshuS01 commented on #208
@chhavip @yatna @anubhakushwaha If this is a valid issue can I work on this? Thanks :)

[2017-02-03 18:09] HimanshuS01 commented on #175
A gentle reminder . Thanks :)

[2017-02-04 08:30] chhavip commented on #217
Closing this issue as it has been resolved.

[2017-02-04 08:30] #217 closed

[2017-02-04 09:34] chhavip commented on #208
Yes, sounds like a good issue, can work on fixing it.

[2017-02-04 09:35] chhavip commented on #223
@nitish1211 Updates?

[2017-02-04 09:50] HimanshuS01 commented on #208
@chhavip sure. 👍

[2017-02-04 10:30] chhavip commented on #192
Closing as PR has been merged.

[2017-02-04 10:30] #192 closed

[2017-02-05 15:58] nitish1211 commented on #223
Sent the PR. @chhavip

[2017-02-05 17:44] m-murad opened #231 "App crashes in UserProfile Activity."
In user profile activity if we change the device orientation when the user details are being saved, the app crashes.

@yatna @chhavip @anubhakushwaha
Should I send a PR.

[2017-02-06 13:39] HimanshuS01 commented on #47
@anubhakushwaha @chhavip @yatna can I send PR for this issue?

[2017-02-06 21:44] free4murad opened #232 "Back button closes the application."
In activities like
1. `MainActivity`
2. `UserProfile`
3. `NewHomeActivity`
4. `TripIndicatorFragmentActivity`
5. `InfoHubFragmentActivity`

the back button closes the app instead of going back to previous activity.

@chhavip @yatna @anubhakushwaha
Should i send a PR.

[2017-02-07 06:02] mani94454182 opened #233 "Fresh developer"
Hello
I'm a new developer and I want to contribute to your project as it seemed to be very interesting.
I ensure you that once it get comfortable and gain enough knowledge in your work, I will give my 100% to work for it
I'm waiting for a chance to prove myself capable
Hoping to get a chance this time
thanking you

[2017-02-07 06:07] codingblazer commented on #233
@mani94454182 Welcome to the community. Issue list is only for project related issues. You can join [Slack](https://systers-opensource.slack.com/) channel. Thanks :-)

[2017-02-07 06:33] HimanshuS01 commented on #233
@mani94454182 welcome to this organisation. Pick any [issue](https://github.com/systers/malaria-app-android/issues) marked as free from the given issue list and feel free to ask any kind of doubts whether in the comment section of any issue or in the slack channel. cheers 👍

[2017-02-07 08:52] anamikalovesSRK opened #234 "Facing issues in open source"
Hello, i am new in open source developement. I have basic knowledge of android developement but don't know much , how to send pull requests. I have found interest in this project, can anyone please guilde me , how to work on irc + slack and find issues and work on them.
Thank you :)

[2017-02-07 13:13] Prem070796 commented on #107
Some reset icons:
![reset](https://cloud.githubusercontent.com/assets/25509407/22692233/0c2a2b00-ed64-11e6-9b51-8326644cad53.png)
![res2](https://cloud.githubusercontent.com/assets/25509407/22692254/193e65d6-ed64-11e6-9c2b-83d99c7b6b87.jpg)
![res7](https://cloud.githubusercontent.com/assets/25509407/22692267/2661255a-ed64-11e6-9239-b52de69fa9f6.png)
![res1](https://cloud.githubusercontent.com/asse

[2017-02-07 15:54] vaibhavchellani commented on #107
I think this would be better as the background colour matches the activity background colour.

![image](https://cloud.githubusercontent.com/assets/19390504/22698818/a5cb6ab4-ed7b-11e6-872d-c11538b56430.png)

What is your input on this @chhavip ?

[2017-02-07 16:12] Prem070796 commented on #107
Colour is not an issue @vaibhavchellani.We can make any icon with our desire colour.

[2017-02-08 04:13] #234 closed

[2017-02-08 04:21] anamikalovesSRK commented on #233
how can i join Slack channel of this project ?  I can't figure it out

[2017-02-08 04:41] codingblazer commented on #233
https://systers-opensource.slack.com/?redir=%2Fmessages%2F%40slackbot%2F

[2017-02-08 06:01] anamikalovesSRK commented on #107
Reset button according material guidlines (hdpi)
![ic_settings_backup_restore_black_24dp](https://cloud.githubusercontent.com/assets/16922933/22725213/09088050-edf2-11e6-8b56-72afc637a1a9.png)

[2017-02-08 17:24] vaibhavchellani commented on #63
Why was this issue closed ?

[2017-02-08 19:36] anubhakushwaha commented on #63
@vaibhavchellani This needs a discussion with other mentors and not an intended issue as of now.Will reopen it with any future updates

[2017-02-09 04:18] anamikalovesSRK commented on #233
well, by saying how to join, i meant how to contact team administrator as i am not part of this slack team yet. There is no such link to message/pm/email team administrator. Thanks :)

[2017-02-09 06:14] anubhakushwaha commented on #233
@anamikalovesSRK @mani94454182 Welcome to Systers :) Here's the link for the invite http://systers.io/slack-systers-opensource/ ,please join the slack channels for the respective projects you are interested in and ask your queries there,any mentor who will be available will reach out to you.Further we don not appreciate pm until and unless important.

[2017-02-09 06:14] #233 closed

[2017-02-09 14:19] yatna commented on #232
@free4murad I think this issue has already been made multiple times already in the past #211 #166 #213

[2017-02-09 14:22] free4murad commented on #232
@yatna
But this hasn't been solved.

[2017-02-09 14:22] yatna commented on #231
@free4murad Yes, you can go ahead.

[2017-02-09 16:17] anubhakushwaha commented on #232
@free4murad #139 was done as a part of GCI.

[2017-02-09 16:17] #232 closed

[2017-02-10 02:59] anubhakushwaha commented on #47
Yeah go ahead.

[2017-02-10 07:12] HimanshuS01 commented on #47
Sure @anubhakushwaha .I will soon send the PR. Thanks :)

[2017-02-16 08:37] anamikalovesSRK commented on #42
I can see , label free mentioned here, Can i send PR for the issue mentioned above?

[2017-02-16 09:09] free4murad commented on #42
@anamikalovesSRK
This issue has already been solved in PR #165

[2017-02-22 15:45] nitish1211 opened #238 "App Crashes in UserProfile Activity when age entered is out of int range"
There is no check for the age entered by the user in the profile section.
The app crashes when the age is out of the range supported by `int` .

![g_20170222_2104543](https://cloud.githubusercontent.com/assets/13676490/23219019/eec41b66-f943-11e6-8713-0677fd4d1eec.gif)

@anubhakushwaha @chhavip @yatna
Should I send a PR for this?

[2017-02-22 15:59] free4murad commented on #238
This has been reported earlier and I am working on this.

[2017-02-22 16:51] free4murad commented on #238
Already reported in #216

[2017-02-22 20:39] #238 closed

[2017-02-28 11:53] #207 closed

[2017-03-07 18:19] pandilladivya opened #240 "Adjust icons to maintain consistent UI in UserMedicineSettingsFragmentActivity"
In the Spinner( drop down ) , the icons are not scaled with respect to the text present beside them.

UI would look better if the icons are adjusted to match the text's layout.

![screenshot_2017-03-07-23-05-46](https://cloud.githubusercontent.com/assets/16818129/23669915/f121c9a6-038b-11e7-9360-ed4ded2f372d.png)

@yatna @anubhakushwaha @chhavip
Kindly Review this issue.
Thanks :)

[2017-03-08 03:30] BaaniLeen opened #241 "Add a Graphical Representation in Volunteer Adherence Rate to maintain consistency in UI"
![17200601_436103846781687_1974123612_o](https://cloud.githubusercontent.com/assets/22029744/23688723/317a60b2-03dc-11e7-90cd-5cef7467beb2.png)
A Graphical Representation of the data will help maintain Consistency in UI as well as make it easier for the user to comprehend the facts .
@yatna @chhavip @anubhakushwaha Shall I make a PR for the same? :)

[2017-03-08 03:46] top-gun007 commented on #241
Currently I guess this repo is only dealing with bugs not improvements.

[2017-03-08 06:16] pandilladivya opened #242 "Bugs in TripIndicatorFragmentActivity"
**The following the Bugs related to Departure and Arrival Dates in the TripIndicatorFragmentActivity**

- Departure and Arrival Dates cannot be the past date. But In the App there is no condition to check for that.

- Year field is taking negative values when the selected year is less than 2000.

![screenshot_2017-03-08-11-34-40](https://cloud.githubusercontent.com/assets/16818129/23692257/8557107

[2017-03-08 06:20] free4murad commented on #242
I have submitted a PR for this earlier.

[2017-03-08 06:28] pandilladivya commented on #242
@free4murad Can you please refer to the PR which you are mentioning here?

I have already gone through the issues and PRs .. but couldnt find the similar issue.

[2017-03-08 06:46] pandilladivya commented on #242
@free4murad
Pardon me ... I didnt notice.

I did not checkout the latest master branch.

[2017-03-08 06:46] #242 closed

[2017-03-09 03:06] pragyach commented on #240
This fixing this issue can result into more user friendly app, shall i fix this issue?  @anubhakushwaha  @chhavip

[2017-03-09 03:09] pragyach commented on #231
If this issue is not assigned to any one shall i make Pr to solve it?
@yatna @chhavip  @anubhakushwaha

[2017-03-09 03:27] HimanshuS01 commented on #231
hey @pragyach This issue has already been solved by @free4murad in PR #235 . :)
you can pick any other unassigned issues labeled as free or can create a new one . Thanks

[2017-03-09 06:20] pandilladivya commented on #240
@pragyach I've already solved this and am waiting for mentors to approve this issue..

[2017-03-09 06:23] HimanshuS01 commented on #175
@yatna @chhavip @anubhakushwaha Please have a look :)

[2017-03-09 06:25] HimanshuS01 commented on #206
@yatna @chhavip @anubhakushwaha can I proceed with this issue ? :)
Thanks

[2017-03-09 06:40] anubhakushwaha commented on #240
@pandilladivya Yes go ahead

[2017-03-09 14:50] pandilladivya commented on #240
@anubhakushwaha  Will submit a PR soon.

Thank You :)

[2017-03-10 15:10] shreyans29 opened #243 "Showing correct answers in Rapid Fire game after completion."
While playing the rapid fire game, when the answer selected is wrong, wouldn't it be better if we could show what the correct answer is ? That would help the user to learn as well.

[2017-03-10 15:18] shreyans29 opened #244 "disable Toast message "Error retrieving data! Loading data from cache" when data present in cache"
There is no point in showing the error when data is available in cache.  When Data is not available we could use a simpler toast message like "Internet Disable" or something similar which could make sense to a layman.  Can I submit a PR for this @chhavip  @yatna @anubhakushwaha ?
![screenshot_2017-03-10-20-43-10-312_com peacecorps malaria](https://cloud.githubusercontent.com/assets/8592568/2380049

[2017-03-11 09:44] pandilladivya opened #246 "Issue in TripIndicatorPackingActivity"
Medicines and cash are not being added in the UI ( to the bottom)  whenever a user selects them but are added in the backend. Items are added when the user hits add icon ...... So it would create a confusion to the user whether medicines and cash are added to the selection or not.

Further, once the user is finished with his/her selection and want to change it then there's no way for the user to k

[2017-03-11 12:02] pandilladivya opened #248 "UI Issues in PackingActivity"
1.  Confusing UI .

**Video Demo:**
https://pandilladivya.github.io/2017_03_11_12_25_03.mp4

Instead of making the text clickable in one row and making editText clickable in the other row, to make the View consistent we can make the Text clickable in all rows and lock the editText.

2.   AutoWrap the content in the EditText.

  ![screenshot_2017-03-11-17-12-28](https://cloud.githubusercontent.com/

[2017-03-11 13:00] pandilladivya opened #249 "Reminder tone doesn't get set to the new selected tone."
**Steps to Reproduce the Bug**

- Click on the Volume Button.

- Specify the path to the new tone

- Click Yes

Remainder Tone doesn't get set to the new tone.

@anubhakushwaha @ankita-kalra @chhavip
Kindly Review this issue.
Thank you :)

[2017-03-11 19:13] adamfils opened #250 "Alarm Tone Doesn't Stop After Hitting Cancel In Reminder Dialog -Bug"
**Expected Behaviour**
When you Click Cancel in the Alarm Dialogue it stop
Actual Behaviour
When you click "cancel" the dialogue closes but the Reminder Tone keeps playing even when you exit the app

I'd love to work on this
I believe I can fix it
@yatna @chhavip @anubhakushwaha

[2017-03-11 19:19] adamfils commented on #250
Expected Behaviour

When you Click Cancel in the Alarm Dialogue it stop

Actual Behaviour

When you click "cancel" the dialogue closes but the Reminder Tone keeps playing even when you exit the app

[2017-03-13 22:49] abs51295 opened #251 "Notification not disappearing on changing the state from the app"
The push notification for Drug Reminder is not dismissed on changing the medication status from the application.
![notfication_bug](https://cloud.githubusercontent.com/assets/13438222/23878419/520673c6-086d-11e7-84d2-24020eaf8ec8.gif)

[2017-03-14 19:49] free4murad opened #252 "TTS service not stopped properly."
In `PeaceCorpsPolicyFragmentActivity` if the user has activated the TTS service and closes the app by pressing the recent apps button the TTS service continues running.

@chhavip @anubhakushwaha @yatna
Should I send a PR?

[2017-03-14 19:59] HimanshuS01 commented on #252
hey @free4murad this issue is a duplicate of #182 in which @yatna have already mentioned the above issue PR of which is already created. Kindly refer. Thanks :)

[2017-03-14 20:02] free4murad commented on #252
@HimanshuS01
Thanks for pointing this out.

[2017-03-14 20:02] #252 closed

[2017-03-18 06:42] BaaniLeen commented on #241
@yatna @chhavip Kindly review the issue... Thanks!

[2017-03-21 06:04] anubhakushwaha commented on #54
Closing. Fixed via #221

[2017-03-21 06:04] #54 closed

[2017-03-21 06:20] anubhakushwaha commented on #240
Closing.Fixed via #247

[2017-03-21 06:20] #240 closed

[2017-03-21 07:20] anubhakushwaha commented on #164
Closing.Fixed via #165

[2017-03-21 07:20] #164 closed

[2017-03-23 05:52] #106 closed

[2017-03-25 19:23] anubhakushwaha commented on #183
Closing.Fixed via #184

[2017-03-25 19:23] #183 closed

[2017-03-26 09:24] anubhakushwaha commented on #129
Closing.Fixed via #258

[2017-03-26 09:24] #129 closed

[2017-03-27 19:57] Rupinderwadali opened #260 "show the data like medication taken on time, missed ones through visualization pie charts etc."
As we track the medicine taken on time or missed ones. We can show them through visualization like pie charts etc.

[2017-03-27 19:57] Rupinderwadali commented on #260
Will also show the current users data for more interactivity

[2017-03-27 20:00] Rupinderwadali opened #261 "Add events through google calendar API"
we can add the event of traveling or anything through google calendar API for reminder.

[2017-03-28 07:23] anubhakushwaha commented on #260
@Rupinderwadali the current state of the app shows the adherence which is in way giving a stat of the past history in terms of medicine taken,further the calendar that comes on clicking the progress bar shows the days on which the medicines are taken with a green tick and not taken with a red one.Incase you still feel the need for adding a PieChart let us know with proper justification. It's like

[2017-03-28 07:36] anubhakushwaha commented on #261
@Rupinderwadali nice suggestion,how would you like to implement it?As in you shouldn;t change the functionality the trip feature provides.

[2017-04-09 07:13] anubhakushwaha commented on #105
Closing. Fixed via #262

[2017-04-09 07:13] #105 closed

[2017-04-10 19:38] anubhakushwaha commented on #193
Closing.Fixed via #209

[2017-04-10 19:38] #193 closed

[2017-04-11 04:24] anubhakushwaha commented on #249
@pandilladivya Yes go ahead.

[2017-04-11 04:45] #88 closed

[2017-04-19 11:25] HimanshuS01 commented on #249
hey @pandilladivya updates ? Are you still working on it ? :-)

[2017-04-19 13:46] pandilladivya commented on #249
oops!! .. I din't check this!

Will work on it from now on :slightly_smiling_face:

@anubhakushwaha Thank you for Reviewing the issue... Will make a PR soon. :slightly_smiling_face:

[2017-04-19 14:05] anubhakushwaha commented on #197
Closing.Fixed via #219

[2017-04-19 14:05] #197 closed

[2017-04-21 12:58] anubhakushwaha commented on #188
Closing.Fixed via #226

[2017-04-21 12:58] #188 closed

[2017-04-21 13:10] anubhakushwaha commented on #208
Closing.Fixed via #228

[2017-04-21 13:10] #208 closed

[2017-04-21 13:35] anubhakushwaha commented on #199
@codingblazer Any updates?

[2017-04-21 13:36] anubhakushwaha commented on #200
@free4murad Yes,go ahead.

[2017-04-21 13:37] #201 closed

[2017-04-21 13:39] anubhakushwaha commented on #185
@may Are we including registration now?

[2017-04-21 13:39] #203 closed

[2017-04-21 13:41] anubhakushwaha commented on #215
@mahikaw Yes please proceed,further attach screenshots in your PR.

[2017-04-21 13:42] anubhakushwaha commented on #224
@free4murad Any further update? did you get something?

[2017-04-21 13:46] free4murad commented on #224
Will send a PR for this today.

[2017-04-28 11:50] anubhakushwaha commented on #160
Closing.Fixed #220

[2017-04-28 11:50] #160 closed

[2017-04-28 17:43] anubhakushwaha commented on #196
Closing.Fixed via #212

[2017-04-28 17:43] #196 closed

[2017-04-28 17:51] anubhakushwaha commented on #216
Closing.Fixed via #239

[2017-04-28 17:51] #216 closed

[2017-04-30 22:08] iri008 commented on #107
Putting a "Refresh Icon' alone for refresh data icon confuses user with refreshing session or to similar task as these icons are used for same purpose in other applications. Can we insert an icon next to "Set Up" on splash screen and then reuse the same icon with some minor changes o other screens to show refresh data.
That way, the icon would remind user of the Set Up screen and they would have a

[2017-05-03 06:25] anubhakushwaha commented on #200
Closing.Fixed via #263

[2017-05-03 06:25] #200 closed

[2017-05-03 06:27] anubhakushwaha commented on #215
@mahikaw Updates?

[2017-05-03 06:29] anubhakushwaha commented on #206
@HimanshuS01 Yeah,go ahead.

[2017-05-03 06:30] anubhakushwaha commented on #199
@codingblazer Are you working on this?

[2017-05-03 06:31] anubhakushwaha commented on #198
@top-gun007 How are you planning to do this?

[2017-05-03 06:37] anubhakushwaha commented on #150
@free4murad Working on this?

[2017-05-03 06:39] anubhakushwaha commented on #172
@sridharjajoo Working on this?

[2017-05-03 06:43] anubhakushwaha commented on #243
@shreyans29 As of now the wrong answer is indicated by a grey coloration,yes I agree that users should know the right answer.I guess a better way would be to display the correct answer incase he/she answers it wrong after the timer ends and before proceeding to the next question.Willing to work?

[2017-05-03 06:44] anubhakushwaha commented on #249
@pandilladivya Working on this?

[2017-05-03 06:45] anubhakushwaha commented on #260
Closing.Not taking it up as of now.

[2017-05-03 06:45] #260 closed

[2017-05-03 07:31] free4murad commented on #150
@anubhakushwaha
I am travelling for a week or two. Please assign this to someone else.

[2017-05-03 16:36] codingblazer commented on #199
Really sorry for missing this, i wasn't getting notifications for this project. Yes, I will work on this soon after exams :-)

[2017-05-04 10:21] shreyans29 commented on #243
yes, sure. Is it okay if there is a delay, I have my final exams going on.

[2017-05-04 18:01] pandilladivya commented on #249
@anubhakushwaha
Sorry ma'am .. Was tied up with my exams :(

[2017-05-06 18:24] codingblazer commented on #199
@anubhakushwaha The reason for the bug is as follows - In ThirdAnalyticFragment.java, year shown is always taken as the current year. This particular case was left out i.e. When current month is Jan/Feb/March then previous months will be from not the current year.

Solution - I will add a **if condition** handling this left out case. @anubhakushwaha Should I send PR for it ?

[2017-05-07 13:48] anubhakushwaha commented on #199
@codingblazer  Yes go ahead

[2017-09-06 08:02] Shreya001 commented on #66
Could you please explain the issue i would like to work on it please. @anubhakushwaha

[2017-09-06 08:05] Shreya001 commented on #120
is this issue resolved?

[2017-09-06 20:47] anubhakushwaha commented on #120
@Shreya001  You can go ahead with this, let us know incase you have any query.

[2017-09-09 09:11] Shreya001 commented on #120
We have to add badges for the app's trip planner and promote using it, So
we can add badges for planned the first trip, early bird (if the person
sets the departure time of trip early in morning), badges based on the
number of trips planned. We can also add the description of each badge as
currently it just displays the name. Let me know if liked the idea, I would
then share the badges with you an

[2017-09-09 09:12] Shreya001 commented on #120
@anubhakushwaha We have to add badges for the app's trip planner and promote using it, So we can add badges for planned the first trip, early bird (if the person sets the departure time of trip early in morning), badges based on the number of trips planned. We can also add the description of each badge as currently it just displays the name. Let me know if liked the idea, I would then share the ba

[2017-09-10 07:04] anubhakushwaha commented on #120
@Shreya001  Yeah I like your ideas, can you draft them somewhere(a google doc maybe)? and share with us so that we can add/edit there and then you can implement the logic for the same :1

[2017-09-10 07:28] anubhakushwaha commented on #66
@Shreya001 Currently the app supports single trip, we can make multiple trips , I was suggesting making a class for a trip that would have all the details about the trip and as soon as a user makes a new trip we will simply have an object i.e at the end we will have a list of objects which need to be sorted by the dates, did you get it? And incase you have some other idea, we would love to hear th

[2017-09-10 07:30] anubhakushwaha commented on #261
@Rupinderwadali Willing to have a discussion on this? as by going forward with this will change a lot in the codebase.

[2017-09-10 07:49] Shreya001 commented on #66
Yes thats a good idea we can increase the support for the app,but i want to
know what will be the use of the list of trips we get?

On 10-Sep-2017 12:58 PM, "Anubha Kushwaha" <notifications@github.com> wrote:

[2017-09-10 09:14] anubhakushwaha commented on #66
@Shreya001 It is for the convenience of the users, suppose I know I have two trips coming back to back, both of different durations and hence different requirements i.e no. of medicines and other stuff. By the current implementation, we can schedule only one trip and after we have been notified about it then only can we set a new trip reminder, was I clear this time? Let me know incase of more cla

[2017-09-10 13:19] Shreya001 commented on #66
Yes i did,will do this by tommorrow, If any queties will ask you for details

On 10-Sep-2017 2:44 PM, "Anubha Kushwaha" <notifications@github.com> wrote:

[2017-09-12 18:00] Shreya001 commented on #66
I wanted to ask that everything is being added to the database so shld i
implement the class taking data from the database and the creating its
object and adding it to a list?

On 10-Sep-2017 6:49 PM, "Shreya Singal" <shreyashivam20@gmail.com> wrote:

[2017-09-15 12:47] Shreya001 commented on #66
Hey,
I have a querey. What i did was made a new class trip where i intialized
the time, date, location and the items to be taken. I also overrided the
add function of an arraylist which adds the trip objects based on their
date and time. I have trouble figuring out that where do I use this array
to throw intents to use alarm.
Thanks

On 12-Sep-2017 11:30 PM, "Shreya Singal" <shreyashivam20@gmail.c

[2017-09-17 11:38] anubhakushwaha commented on #66
@Shreya001 You can use https://stackoverflow.com/questions/12785702/android-set-multiple-alarms , just have a different request code each time, let me know if it helps and in any case we can have a discussion at slack :) Feel free to have a discussion

[2017-09-20 18:33] Shreya001 commented on #66
@anubhakushwaha i dont know the reminders appear but keep crashing.

[2017-09-23 11:02] luckyman000786 commented on #261
@anubhakushwaha  Can I do it ?

[2017-09-25 09:38] luckyman000786 commented on #35
@anubhakushwaha @ankita-kalra Can I make it adoptive to more languages like French, German, Chinese etc.

[2017-09-27 11:37] luckyman000786 commented on #251
@anubhakushwaha Can I work on this ?

[2017-10-26 20:45] akashagra opened #270 "Replaced Hardcore strings with strings resource"
Hardcore string is used,which is not a good practice in add_medicine_dailog file and hence replaced withstring resource

[2017-10-29 06:39] anumehaagrawal commented on #215
Is this issue completed ? Can I take it up?

[2017-10-30 22:02] robillo opened #272 "Updating Android API version and Android Studio 3.0 Compatibility"
### What is wrong?
Currently, the app gradle file for the project aims at Android API 22, which is version Lollipop. As per valid sources, the usage of the version Lollipop is less than 28% of all Android devices, so it is recommended to target latest Android versions. [refer here] (https://fossbytes.com/most-popular-android-versions-always-updated/).

### Expected behaviour.
What do you think sho

[2017-11-11 09:02] sammy1997 commented on #249
Are you still working on this bug? @pandilladivya

[2017-11-11 16:16] sammy1997 commented on #249
I think line 51 in DrugReminderNotification is where the error lies.
@anubhakushwaha  mam can I work on this?

[2017-11-12 12:57] anubhakushwaha commented on #249
@pandilladivya Incase you are not working on this should I assign it to @sammy1997 ?

[2017-11-12 16:03] sammy1997 commented on #249
@anubhakushwaha ma'am from the Slack mention, I am on it then.

[2017-11-13 19:03] sammy1997 commented on #249
@anubhakushwaha Ma'am the issue has been resolved. Do I send a PR to the develop branch?

[2017-11-13 19:06] sammy1997 commented on #270
I guess you can close this one. I have resolved this one in the along with https://github.com/systers/malaria-app-android/issues/249 . So I will send a PR.

[2017-11-13 19:10] m-murad commented on #270
@sammy1997
Issues are closed once concerned PRs are merged.

Also don't solve multiple issues in a single PR. This is not a good practice. Solve one issue per PR.
Also only solve the issue assigned to you.

[2017-11-13 19:28] sammy1997 opened #274 "Settings Clear Dialog Causing Window Leak error"
What is wrong?
The Dialog to clear the cache is causing a Window Leak Error

Steps to reproduce the issue.

Go to HomeScreenFragment, press on the settings button, then yes. Follow the logcat.

Expected behaviour :
Error is probably being caused becuse Dialog lifetime is exceeding Fragment Lifetime, which shouldn't have happened.

Development environment
1. Device model - Nexus-5 (Emulator)
2. And

[2017-11-13 19:37] sammy1997 commented on #270
@m-murad I will keep that in mind.

[2017-11-14 05:55] sammy1997 commented on #250
@adamfils @anubhakushwaha  is someone still working on this? Mam can you assign me this?

[2017-11-14 05:56] sammy1997 commented on #270
@anubhakushwaha  please assign this issue to  me.

[2017-11-20 11:51] anubhakushwaha commented on #274
@sammy1997 How do you propose to solve it?

[2017-11-24 21:19] sammy1997 commented on #274
@anubhakushwaha  a simple solution is to add the following lines to all the fragments that have the settings button and are creating a dialog :

@Override public void onStop() {
               if (dialog != null) {
                            dialog.dismiss();
                            dialog = null;
               }
              super.onStop();
 }

This will prevent the dialog from existing af

[2017-11-26 16:06] anubhakushwaha commented on #274
@sammy1997  Yes go ahead, along with this please look for other sources of memory leak if any. Thanks.

[2017-11-29 11:15] arya-ayush opened #277 "Code is not written properly, needs refractoring."
The coding architecture is failing at many places in the app.It is just making the code difficult to debug and manage.

It should be refractored using some of the basic android libraries like ButterKnife, DaoDatabase and where ever model is merged with other codes should be re-written again i.e., MVC implementation.

Some of the issues are in naming conventions.

[2017-11-29 11:16] arya-ayush commented on #277
I will do it,  if you allow.

[2018-02-18 07:21] abhinavbajpai2012 opened #280 "User details not being saved"
The user details filled is not saved and is erased whenever we move from that activity

Whenever we come back to the user activty it should show the saved data and an edit button can be added if user wants to change his/her details.

I want to work on this issue

[2018-03-09 07:08] geekanamika commented on #42
@m-murad @MeepyMay @anubhakushwaha This issue can be closed. As #165 has been merged already.

[2018-03-09 11:22] geekanamika commented on #277
@MeepyMay @anubhakushwaha this can be closed(or put open-later) as it involves development lifecycle.

[2018-03-09 20:38] geekanamika opened #281 "Gradle build fails with "error: package org.apache.http does not exist""
### What is wrong?
Android 6.0 release removes support for the Apache HTTP client. But this project still uses apache Http.

### Steps to reproduce the issue.
There are two options:
1. use the HttpURLConnection class instead. This API is more efficient because it reduces network use through transparent compression and response caching, and minimizes power consumption
2. ontinue using the Apache HT

[2018-03-09 20:48] geekanamika commented on #281
@anubhakushwaha @m-murad I would like to work on this issue. Shall i go ahead ?

[2018-03-10 14:30] arundhati24 opened #282 "Update minimum and maximum target SDK versions"
### What is wrong?

Currently, the minimum target SDK version of the app is 9 and the maximum is 22, which covers only around 42.3% of the android devices.

### Expected behaviour.

The minimum target SDK should be 15 and the maximum target SDK should be 26 so that most of the app can run on maximum number of devices, including older devices as well. This will include around 99.7% of the android d

[2018-03-10 14:55] arundhati24 opened #283 "Use Lombok to remove boilerplate code in models"
### What is wrong?

Currently, the Java classes in model directory have boilerplate code that leads to an unnecessary code in the class. This takes a little more time for any person, especially newcomers, to understand the code and keeping boilerplate code in a class is not considered a good practice either.

### Expected behaviour.

The boilerplate code present in Java classes in model directory

[2018-03-10 15:05] arundhati24 opened #284 "Use Room for fluent database access"
### What is wrong?

Currently, there is a lot of boilerplate code needed to handle database. We need to write and analyze a lot of code for simple database operations. This increases the complexity of the work and it is a tedious task for the contributors to go through the code to understand it.

### Expected behaviour.

Now, we have the official Android library called Room that can help structure

[2018-03-10 15:40] geekanamika commented on #284
@arundhati24 It is a issue that can only be handled during a development lifecycle. Going by prior session discussion , include it in proposal & you won't need to create an issue for it. :)

[2018-03-10 15:42] geekanamika commented on #282
Similar to #272 , it already contains a PR. Don't create an issue if it's already present :)

[2018-03-10 16:06] arundhati24 commented on #284
@geekanamika  It would be great if you could please clarify what do you mean by development lifecycle here? :)

[2018-03-10 16:07] arundhati24 commented on #282
@geekanamika  This only talks about the maximum sdk version. I had already checked it. :)
I talked about minimum version too.

[2018-03-10 16:11] arundhati24 commented on #282
#272 doesn't talk about minimum sdk version. And, we aim to reach out to the maximum number of people but at the same time we also need to consider the functionality and technicalities of the app. A lot of features are deprecated with new APIs. So, I believe this needs to be considered. :smiley:

[2018-03-10 17:25] geekanamika commented on #282
Hey @arundhati24  Yes the issue mentions targetSdkVersion only. But if you'll notice the screenshots/PR , it contains minSdkVersion as 16 ,which seems good to me.

[2018-03-10 17:29] geekanamika commented on #283
Including a dependency to reduce boilerplate code needs to be discussed properly,sounds good to me.  Going by the work-flow , Can you provide instance that it wouldn't effect the application size , it would help in maintaining code ?

[2018-03-12 21:41] DipanshKhandelwal commented on #274
Since no one has worked on it from so long, can I solve it ?

[2018-03-12 22:01] DipanshKhandelwal commented on #35
@prachi1210 @MeepyMay @saurabhjn76 @m-murad
Would it be good if we have internationalization in the app ?

[2018-03-12 22:14] DipanshKhandelwal commented on #107
Can I take up the issue since no one's working on it?

[2018-03-12 22:24] DipanshKhandelwal commented on #190
@prachi1210 I guess it can be closed.

[2018-03-13 08:31] m-murad commented on #281
Go ahead

[2018-03-13 14:52] geekanamika commented on #281
@m-murad Which approach should i choose between the two mentioned in "Steps to reproduce". ?

[2018-03-13 15:49] geekanamika commented on #280
@m-murad Can you please review this issue? I would like to implement it.
Shall i update the issue with gif if it's not clear ?

[2018-03-13 16:32] geekanamika commented on #280
Agreed. Thank You. I'll save the details in sharedpreferences & create a PR if you'll approve.

[2018-03-13 17:02] m-murad commented on #280
Sure send a PR

On Tue, Mar 13, 2018, 10:02 PM Anamika Tripathi <notifications@github.com>
wrote:

[2018-03-14 10:37] geekanamika commented on #272
@m-murad This  can be closed.

[2018-03-14 11:10] geekanamika commented on #244
Adding to it , If data is not available in cache , it'll keep showing fetching.
Expected behaviour:
* speaker button should be disabled if data is not available through internet/cache
* Toast should be replaced with snackbar probably in case no data

![loading data from cache](https://user-images.githubusercontent.com/16922933/37398710-5da34bd4-27a5-11e8-84b8-9bebb88ba6d4.gif)

[2018-03-16 02:18] Sudhanshu96 commented on #198
@anubhakushwaha can I take up this issue? As this issue has not be resolved until now

[2018-03-16 02:19] Sudhanshu96 commented on #280
@m-murad can I take up this issue?

[2018-03-16 04:41] geekanamika commented on #280
Hi sudhanshu,  I accidentally deleted my previous comment. I am working on this issue after getting approved my mentor :)

[2018-03-16 12:22] geekanamika opened #286 "Add the travis file for continuous Integration"
### What is wrong?
Travis file is missing in the repository. Currently ,all PRs fail with message "Could not find .travis.yml, using standard configuration."

### Steps to reproduce the issue.
* Add the travis file (since travis is already enabled for this repository. )

### Expected behaviour.
* Repository should the travis.yml file
* It should build the repository correctly.

### Screenshot or G

[2018-03-16 18:40] saurabhjn76 commented on #281
@geekanamika Options 1 using HttpURLConnection seems good to me, let's wait for @m-murad views before proceeding.

[2018-03-16 19:26] m-murad commented on #281
@geekanamika @saurabhjn76
Since we won't be getting a backend for malaria-android anytime soon, I suggest we remove the HTTP stuff altogether and save the user details locally.

If this is not possible I would suggest using the `HttpURLConnection` API

[2018-03-16 19:56] m-murad commented on #281
I'm suggesting
Until we get a proper backend we should remove the code related to backend.

In future we can add code according to the backend
eg If we are interaction with multiple endpoints we can use retorfit.
Else we can use some other API

[2018-03-16 19:57] m-murad commented on #281
It's just a suggestion let's see what other people have to say.

[2018-03-16 21:03] geekanamika commented on #215
@m-murad @saurabhjn76 I would like to work on this issue.

[2018-03-16 21:21] geekanamika commented on #251
@m-murad @saurabhjn76 Can you please assign this issue ? As a user, It is a troublesome bug, not able to clear notification.

[2018-03-16 22:19] saurabhjn76 commented on #281
yes, this project needs a proper backend, which needs to be discussed first, there are certain better network libraries available which we can add as per our requirements.
As of now, I believe removing HTTP stuff would involve a lot of unnecessary refactoring which anyhow in future will change, so currently, in my view, we should simply fix this build error, discuss the implementation for the prop

[2018-03-18 15:50] geekanamika commented on #281
@m-murad @saurabhjn76 Shall i fix this temporarily so that project can be built ? I'll add this discussion in community bonding period in GSoC timline.

[2018-03-18 16:02] m-murad commented on #281
How do you propose to fix it? I think that's what the discussion is about 😀

[2018-03-18 16:04] m-murad commented on #281
Lets comment code that is using the http stuff. Also add a todo there and mention why it's being commented.

[2018-03-18 16:45] geekanamika commented on #281
@m-murad I should have mentioned the step , apologies.
Exactly the steps you mentioned above. Only commenting the code which involves import error & adding Todo for reason & mentioning issue number for reference.

[2018-03-18 17:18] m-murad commented on #281
Great, please send the PR

[2018-03-19 13:59] pprathameshmore opened #288 "Update an app to Material Design"
Update app as per Google material design

### Steps to reproduce the issue.
Write the steps to reproduce the issue (If applicable).

### Expected behavior.
An app must use the new material design for UI

### Your development environment
1. Device model -
2. Android version -

### LogCat
Provide LogCat in case of a crash.

[2018-03-20 12:07] MeepyMay commented on #281
The backend to most Web applications with Peace Corps is the MACC project.

[2018-03-20 12:14] m-murad commented on #281
Did maac used to save the details from malaria application?

[2018-03-20 12:35] geekanamika commented on #281
@MeepyMay @m-murad Server address is "http://pc-web-dev.systers.org/api/malaria_users" in application.

[2018-04-13 21:22] m-murad opened #290 "Automate the apk building process."
## Description
As a developer,
I need to automate the process of building the apk,
so that we always have the apk with the latest code.

## Acceptance Criteria
### Update [Required]
- [ ] Apk is automatically updated on the apk branch

## Estimation
1 hours

[2018-04-18 08:05] DipanshKhandelwal commented on #206
@m-murad @saurabhjn76 shall I fix it?

[2018-04-18 08:07] DipanshKhandelwal commented on #241
@m-murad @saurabhjn76 can I take this up?

[2018-04-18 08:33] m-murad commented on #206
Go ahead

[2018-04-18 17:03] geekanamika commented on #290
@m-murad Where can i learn about automating the apk build process, I would like to learn & implement it if it's available?

[2018-04-18 17:38] geekanamika opened #291 "Fix Lint Errors"
### Lint Errors
Currently, Project contains Lint issues due to which Travis build was failing with build script `gradlew build`

### Steps to reproduce the issue.
1. Used `./gradlew lint` to check all lint issues
2. Solve each lint issues under `correctness` subtag

### Expected behaviour.
Solve the lint issue so that there will be no lint error under `correctness` errors.

### Build Report
![scre

[2018-04-18 17:39] geekanamika commented on #291
@m-murad Can I work on this issue?

[2018-04-18 20:46] m-murad commented on #291
Sure, send a PR

[2018-04-18 23:57] m-murad commented on #290
@geekanamika
Didn't see the comment until I sent the PR.

You can implement the same for `firstaid-android` or `realtrack-android` or `peacetrack-android` project. If you need help please let me know.

[2018-04-18 23:59] #290 closed

[2018-04-20 00:32] MeepyMay opened #293 "Wiki Sidebar Update"
## Description
As a newcomer,
I need to navigate the repo successfully,
so that I can understand where the project is in its development.

## Mocks
![screen shot 2018-04-19 at 3 47 20 pm](https://user-images.githubusercontent.com/2440938/39014663-06dcb230-43e9-11e8-997c-96a89b7c55e8.png)

## Acceptance Criteria
### Update [Required]
- [ ] Update to [the template](https://docs.google.com/document/d

[2018-04-20 04:54] #282 closed

[2018-04-20 04:54] #277 closed

[2018-04-20 04:55] #272 closed

[2018-04-20 04:57] geekanamika commented on #274
@DipanshKhandelwal Go ahead.

[2018-04-20 04:59] #286 closed

[2018-04-20 08:42] DipanshKhandelwal commented on #274
OK will send a PR soon :+1:

[2018-04-20 08:42] DipanshKhandelwal commented on #206
OK will send a PR soon +1

[2018-05-03 13:36] geekanamika commented on #190
@manishakeim @niksj It can be closed. .gitignore works perfectly now.

[2018-05-03 14:14] m-murad commented on #190
@geekanamika
the `.gitignore` file needs to be updated. Can you please do that.
Here is the recommended `gitignore` file for Android projects.

https://github.com/github/gitignore/blob/master/Android.gitignore

[2018-05-03 15:03] mayburgos opened #297 "open later"

[2018-05-03 15:03] mayburgos opened #298 "task #1"

[2018-05-03 15:03] mayburgos opened #299 "task #2"

[2018-05-03 15:03] mayburgos opened #300 "User Story - Agile"

[2018-05-06 18:39] geekanamika commented on #270
Solved in #291

[2018-05-07 15:54] mayburgos commented on #298
Random Test!

[2018-05-09 16:37] r00pal opened #301 "Add Travis CI for maintaining quality of incoming code"
## Description
As a developer,
I need continuous integration of the updated code
so that build process becomes easier and reliable.

## Definition of Done
- [ ] Travis CI dashboard is visible.
- [ ] Approval by 1 mentor.

## Estimation
1 hr

[2018-05-09 16:48] geekanamika commented on #301
@roopalJazz Master branch already contains Travis & it's working.
![image](https://user-images.githubusercontent.com/16922933/39827890-ee9b99ea-53d6-11e8-9309-2892e6849df1.png)

[2018-05-11 07:32] #301 closed, assigned to haroonshah2764

[2018-05-15 15:27] aayushinigam commented on #293
@MeepyMay I would like to work on it.

[2018-05-16 17:10] r00pal opened #302 "Implement MVP design patten"
## Description
As a developer,
I need the code base to be refactored and port the code to MVP architecture,
so that app code becomes more readable and maintainable for a longer duration.

## Acceptance Criteria
To ensure that your code is valid and stable, use check:

./gradlew check

This will run all the code analysis tools and unit tests in the following order:

![check-task-diagram](https://us

[2018-05-16 17:12] r00pal opened #303 "Add code quality plugin PMD"
## Description
As a developer,
I need code analysis tool PMD ,
to find common programming flaws like unused variables, empty catch blocks, unnecessary object creation, etc .

## Acceptance Criteria
To ensure that your code is valid and stable use check:

./gradlew pmd

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estimation
1-2 days

[2018-05-16 17:13] r00pal opened #304 "Refactor app's code base to follow MVP framework provided by Ribot"
## Description
As a developer,
I need to refactor code,
so that code base follows MVP framework provided by Ribot.

## Acceptance Criteria
The code should follow the MVP framework

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estimation
4-5 days

[2018-05-16 17:14] r00pal opened #305 "Add code quality plugin FindBugs"
## Description
As a developer,
I need code analysis tool FindBugs ,
to find bugs in compiled Java Code.

## Acceptance Criteria
To ensure that your code is valid and stable use check:

./gradlew findbugs

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estimation
1-2 days

[2018-05-16 17:16] r00pal opened #306 "Add code quality plugin Checkstyle"
## Description
As a developer,
I need code analysis tool Checkstyle,
to ensure that the code style follows Ribot Android code guidelines.

## Acceptance Criteria
To ensure that your code is valid and stable use check:

./gradlew checkstyle

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estimation
1-2 days

[2018-05-17 18:22] mayburgos commented on #293
@aayushinigam Yes, go ahead.

[2018-05-18 13:53] yatri1609 opened #307 "Making color scheme constant in the app"
Right now in the app shades of brown, green and pink are used. Rather than that it will be nice if we could stick to either shades of brown and pink. Also make the fonts used in the app constant. So that it looks more better and appealing to use.

I would like to work on the UI of this app.

[2018-05-18 14:41] m-murad commented on #307
@yatri1609
Great, can you share screenshot of some changes that you would like to make.

[2018-05-18 16:40] yatri1609 commented on #307
Sure I'll make the changes and send the screenshots

[2018-05-18 16:58] aayushinigam commented on #293
@ExactlyMay Currently, I've updated it according to the pages that are present in the wiki. Please have a look once and let me know if some changes are needed.

[2018-05-18 19:24] yatri1609 commented on #307
Hey, these are the few changes I would like to make so that the app looks more even along with this I would also like to change the bottom buttons into side bar for which I will be opening another Issue.

![screenshot_2018-05-19-00-49-39-457_com peacecorps malaria](https://user-images.githubusercontent.com/34381723/40253887-12424a68-5aff-11e8-9656-912eee79d31b.png)
![screenshot_2018-05-19-00-49-42

[2018-05-18 19:26] yatri1609 opened #308 "Change all the hardcore dimen values into dimens.xml"
Right now, there are lots of hardcore values used in the code. So I would like to move them and use from the dimen file directly for the efficiency of the app.

[2018-05-18 19:31] yatri1609 opened #309 "Add side bar instead of the bottom panel buttons"
I would like to convert the bottom panel buttons into the side bar so that it becomes easy for the person to use.
I would like to include:
- All the bottom panel button function
- Help and Feedback
- About Us
- Submit Issue

Please see to this so that we can implement it.

[2018-05-19 08:14] geekanamika commented on #307
@yatri1609 There'll be alot of changes in malaria-android in GSoC with respect to UI/UX(idea is to shift to material-design). @haroonshah2764 is working on mockups & I'll implement as per discussion. You should discuss in #malaria channel in slack & work on Mockups??
Take reference from iOS too : https://youtu.be/tyM1Z8KWVF4?t=10m11s

[2018-05-19 08:27] geekanamika commented on #308
@yatri1609 Go through open PRs once. If you find hardcore values which are not covered in existing PRs, go ahead & create a PR.

[2018-05-19 09:52] yatri1609 commented on #307
@geekanamika Sure I would like to work on mockups and discuss on channel about the idea I have regarding the UI/UX of the app. Thank you . :+1:

[2018-05-20 03:46] manishakeim commented on #309
@yatri1609 This kind of changes should be first discussed on slack project channel and you should take at least approval from 1 mentor.

[2018-05-23 13:28] #299 closed, assigned to nobody

[2018-05-24 14:15] manishakeim commented on #309
These kinds of UI/UX changes are being handled in GSoC 2018. So closing this issue.

[2018-05-24 14:15] #309 closed, assigned to nobody

[2018-05-25 05:37] #306 closed, assigned to geekanamika, haroonshah2764

[2018-05-25 05:37] #305 closed, assigned to geekanamika, haroonshah2764

[2018-05-25 05:37] #303 closed, assigned to geekanamika, haroonshah2764

[2018-05-25 05:38] #300 closed, assigned to nobody

[2018-05-25 05:39] r00pal commented on #248
@haroonshah2764 you can take this up.

[2018-06-01 10:46] haroonshah2764 commented on #248
@roopalJazz
sorry for the delay, i missed the comment.

[2018-06-01 13:56] #248 closed

[2018-06-05 18:47] haroonshah2764 opened #314 "PMD code rule violations."
The project has around 144 PDM rule violations. Some of them are

- [ ] Unused import in `BadgeRoomTest.java` at line 11
- [ ] Unused import in `MedicineStoreTest.java` at line 11
- [ ] Unused import in `MythFactGameTest.java` at line 10
- [ ] Unused import in `NewHomeActivityTest.java` at line 3
- [ ] Unused import in `NewHomeActivityTest.java` at line 5
- [ ] Unused import in `NewHomeActivityTes

[2018-06-07 07:03] aayushinigam commented on #314
@roopalJazz Can I work on this?

[2018-06-07 07:19] geekanamika commented on #314
@aayushinigam You can, yes.

[2018-06-18 04:32] #298 closed, assigned to nobody

[2018-06-18 04:32] #297 closed, assigned to nobody

[2018-06-18 04:33] geekanamika commented on #288
@haroonshah2764 is working on UI. So, this can be closed.

[2018-06-18 04:33] #288 closed

[2018-06-18 04:38] geekanamika opened #316 "Remove .idea directory from gsoc18-infra branch"
**Description**
As a developer,
I need to remove .idea/ directory from `gsoc18-infra` branch
which was committed by mistake in one [commit](https://github.com/systers/malaria-app-android/commit/cfd6da26f24d4b6d0690ab5479b87897bd63cae4)

**Estimated Time**
2 hours

[2018-06-18 04:51] geekanamika opened #317 "Add Issue Template & Pull request template"
As a contributor,
I need Issue & PR template
so that I can explain the details easily.

Reference: [Issue template](https://github.com/systers/powerup-android/blob/develop/ISSUE_TEMPLATE.md) & [PR template](https://github.com/systers/powerup-android/blob/develop/PULL_REQUEST_TEMPLATE.md)

Estimated Time:
2 hours

[2018-06-18 10:21] isabelcosta commented on #316
@geekanamika which branch is this referring to? It would help to have this in the Issue information. Which branch has this, and to which branch should the PR be sent?

[2018-06-18 10:33] geekanamika commented on #316
Forgot to add the branch name in the description, thanks @isabelcosta  :)

[2018-06-18 13:50] geekanamika opened #318 "Create MVP boilerplate code"
## Description
As a developer,
I need to provide boilerplate code for MVP
so that I can use it for shifting the project to MVP architecture.

## Acceptance Criteria

* Contains Data/ui/service/utils directory with/without code

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
5 hours

[2018-06-19 03:59] ananyaarun commented on #317
Hi @geekanamika !!  I would like to work on this . Where should the 2 templates be added , the main repo right ?

[2018-06-19 05:17] r00pal opened #319 "Implement LifeCycle aware-components to manage activity and fragment lifecyles"
## Description
As a developer,
I want to handle lifecyles using LifeCycle-aware components,
so that I actions can be performed in response to change in change in lifecycles of other components

## Mocks
Not applicable

## Acceptance Criteria
### Update [Required]
- [ ] LifeCycle Class and methods

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

##

[2018-06-19 05:18] r00pal opened #320 "Add Room Persistence Library (Architecture Component)"
## Description
As a developer,
I need to add Room Persistence Library,
so that I have a database to connect to a robust UI.

## Mocks
Not applicable

## Acceptance Criteria

### Update [Required]
- [ ] Entity Declaration
- [ ] Database access object (DAO) declaration

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 hours

[2018-06-19 05:19] r00pal opened #321 "Implement LiveData to monitor changes in database"
## Description
As a developer,
I need to add LiveData architecture component,
so that views get notified when underlying database changes.

## Mocks
![image](https://user-images.githubusercontent.com/19304435/41577662-c2429f7a-73ab-11e8-95f1-48f8fd177b1a.png)

## Acceptance Criteria
### Update [Required]
- [ ] Instance of LiveData Object
- [ ] Instance of Observer Object
- [ ] Attaching the two

#

[2018-06-19 05:27] r00pal opened #322 "Add ViewModel architecture component to manage and store UI-related data"
## Description
As a developer,
I need to implement ViewModel class,
so that data survives configuration changes.

## Mocks
![image](https://user-images.githubusercontent.com/19304435/41578320-42f45c28-73af-11e8-86ef-4d98dfcd8ce9.png)

## Acceptance Criteria
### Update [Required]
- [ ] Implementation of ViewModel

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval b

[2018-06-19 05:39] geekanamika commented on #317
Yes, Take the reference from http://github.com/systers/powerup-android/

[2018-06-19 08:31] #316 closed, assigned to nobody

[2018-06-19 10:53] m-murad commented on #317
Not a valid issue, templates are already present in `master` branch.

[2018-06-19 10:59] geekanamika commented on #317
@m-murad Yes, I'm aware of it but default branch is `develop` which is behind `master` & I don't get Template when I click `new issue`.
Can we update develop from master branch? @ExactlyMay told me to update `develop` as It's the default branch (about a month ago) Or we can change our `default branch` to `master` ?

[2018-06-19 11:08] m-murad commented on #317
Sending files which are in the repo already doesn't make sense. What we need to do is complete merge master in develop. Then we will have all the files that we need.

Anamika can you do that?

[2018-06-19 13:27] geekanamika commented on #317
Yes, I can do it. Just making it clear, I've to create a PR from master branch to develop branch & resolve merge conflicts if any, right?

[2018-06-19 13:31] m-murad commented on #317
Yes, do the following
1. Merge develop in master
2. Merge master in develop
At this point master = develop
3. Merge master or develop in gsoc18-infra
Then master = develop = gsoc18-infra

[2018-06-27 12:02] r00pal opened #327 "Add bottom App bar (Material design component)"
## Description
As a user, I need to able to navigate through the app easily,
I need a bottom app bar,
so that I have access to a bottom navigation drawer and actions related to the current screen.

## Mocks
![image](https://user-images.githubusercontent.com/19304435/41816977-a726cb46-77af-11e8-83cb-5930c0b43177.png)

## Acceptance Criteria
### Update [Required]
- [ ] Bottom App bar

## Definition

[2018-06-27 12:05] r00pal opened #328 "Adding Snackbars (Material Design Component)"
## Description
As a developer,
I want to implement google material design component snackbar,
so that I can get brief feedback about the operation being carried out .

## Mocks
![image](https://user-images.githubusercontent.com/19304435/41972665-20f82cda-7a30-11e8-82b8-e360a81763f9.png)

## Acceptance Criteria
### Update [Required]
- [ ] Snackbar

## Definition of Done
- [ ] All of the required it

[2018-06-27 12:12] r00pal opened #329 "Enhane UI of malaria app"
## Description
Enhance overall UI of the app.
This issue fixes #307
fixes #241
fixes #215
fixes #107

## Acceptance Criteria
### Update [Required]
- [ ] UI is changes as per discussion in the public channels

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
5 hours

[2018-06-28 04:24] r00pal opened #330 "Implementing Material Card (Material design component)"
## Description
As a developer,
I need to implement MaterialCard ,
so that elements of varying size can be contained in the app, like photos with captions of variable length,

## Mocks
Not Required.

## Acceptance Criteria
### Update [Required]
- [ ] MaterialCard implementation in images, text

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Esti

[2018-06-29 10:32] r00pal opened #331 "Replacing TextInputEditText with EditText (Material Design Component)"
## Description
As a developer,
I need to incorporate material design component in the app
so that I have greater control over the visual aspects of the input text,

## Mocks
Not Required.

## Acceptance Criteria
### Update [Required]
- [ ] TextInputEditText implementation

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 hours

[2018-06-29 17:07] #318 closed, assigned to nobody

[2018-06-29 17:08] geekanamika commented on #320
@roopalJazz I've completed the data first of malaria-android & hence, using this issue to send PR if it's okay?

[2018-06-29 17:10] geekanamika commented on #317
As per discussion with mentors in 1:1 session, closing this issue.

[2018-06-29 17:10] #317 closed, assigned to nobody

[2018-07-12 14:55] geekanamika opened #334 "Shifted UserProfileActivity to Mvp pattern"
**Description**
As a developer,
I have to shift User profile activity to a fragment
so that it will be started when user icon is selected in the bottom navigation.

**Acceptance criteria**
* ./gradlew assembleDebug runs successfully
* App functionality remains as expected
* Approval by two mentors

**Estimated Hours**
24 hours

[2018-07-12 14:59] geekanamika opened #335 "Create drug reminder notification with action buttons"
**Description**
As a developer,
I need service class & notification util so that I can remind users of drug timings notifications.

**Acceptance criteria**
* ./gradlew assembleDebug runs successfully
* App functionality remains as expected
* Approval by two mentors

**Estimated Hours**
36 hours

[2018-07-12 15:02] geekanamika opened #336 "Shift launcher activity to MVP & implement bottom navigation in application"
**Description**
As a developer,
I have to shift user medicine settings activity to a fragment, add bottom navigation in home screen
so that it will be started first in launch and save user settings.

**Acceptance criteria**
* ./gradlew assembleDebug runs successfully
* App functionality remains as expected
* Approval by two mentors

**Estimated Hours**
48 hours

[2018-07-12 15:13] geekanamika commented on #56
Solving it as a part of #335

[2018-07-12 15:13] #56 closed

[2018-07-12 15:41] geekanamika commented on #280
Shifting it to MVP & value is being saved in preferences.

[2018-07-12 15:41] #280 closed

[2018-07-12 15:43] geekanamika commented on #47
duplicate issue, #291  & #270

[2018-07-12 15:43] #47 closed

[2018-07-12 15:47] geekanamika commented on #76
It will be solved as a part of #329

[2018-07-12 15:47] #76 closed

[2018-07-12 16:04] geekanamika opened #337 "Create homescreen fragment & use viewpager"
**Description**
As a developer,
I need to create viewpager when home item is selected in bottom navigation
so that I can display three analysis screen of application.

**Acceptance criteria**
* ./gradlew assembleDebug runs successfully
* App functionality remains as expected
* Approval by two mentors

**Estimated Hours**
48 hours

[2018-07-12 16:08] geekanamika commented on #231
Closing it & solving as a part of #334

[2018-07-12 16:08] #231 closed

[2018-07-12 16:09] #224 closed

[2018-07-12 16:10] geekanamika commented on #223
Duplicate issue.

[2018-07-12 16:10] #223 closed

[2018-07-12 16:16] #190 closed

[2018-07-12 16:22] geekanamika commented on #284
It can be closed & update room code is available in gsoc18-code branch.

[2018-07-12 16:22] #284 closed

[2018-07-12 16:23] #270 closed

[2018-07-15 07:36] geekanamika opened #339 "Improve UI of user profile layout"
**Description**
As a developer,
I need to shift current UI to new designed UI during GSoC period
so that It will follow material design guidelines.

**Mock up**
![userpage](https://user-images.githubusercontent.com/16922933/42731672-c07568ce-882f-11e8-90c2-370a87819999.jpeg)

**Estimated time**
24 hours

[2018-07-17 09:06] #334 closed, assigned to geekanamika

[2018-07-17 09:07] geekanamika commented on #336
Completed in #333

[2018-07-17 09:07] #336 closed, assigned to geekanamika

[2018-07-17 14:26] pprathameshmore opened #342 "Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'."
Description:
As a developer,
We need to replace all 'compile' with 'implementation' and 'API'.
It will be removed at the end of 2018.

![malaria app](https://user-images.githubusercontent.com/17108186/42823529-696e2bf6-89fb-11e8-9319-1b3ba926740e.JPG)

Estimated hours:
12 Hours.

[2018-07-17 15:09] geekanamika commented on #342
Hey @pprathameshmore , please find the latest code in `gsoc18-code` branch. It has been updated & will be merged at the end of the GSoC period.

[2018-07-17 15:13] #308 closed, assigned to nobody

[2018-07-17 15:15] r00pal commented on #339
@geekanamika can you also address #329 ?

[2018-07-17 15:26] geekanamika commented on #339
@roopalJazz I've completed #215  in # 341. I've also updated colors.xml with the material palette colors in 341.(solves half of #307 ).
I can take up rest issues once I've complete mvp & tests for malaria.
Please have a look at #341

[2018-07-18 05:48] geekanamika opened #343 "Implement info hub item using MVP architecture"
## Description
As a developer,
I need to shift current info hub activity implementation to info hub fragment
so that I can use access it via bottom navigation.

## Acceptance Criteria
- [ ] Infohub fragment
- [ ] Different fragments that will start with button click in info hub frament

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation

[2018-07-18 13:32] pprathameshmore commented on #342
@geekanamika Okay!

[2018-07-18 13:32] #342 closed, assigned to nobody

[2018-07-18 16:26] geekanamika opened #344 "Implement play item using MVP architecture"
## Description
As a developer,
I need to shift current Play Screen activity implementation to play fragment
so that I can use access it via bottom navigation.

## Acceptance Criteria
- [ ] Infohub fragment
- [ ] Different fragments that will start with button click in play frament

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
48 h

[2018-07-20 09:23] geekanamika opened #345 "Improve dialog layouts of application"
## Description
As a developer,
I need to keep consistency between colors, dimension, theme of application UI
so that look & feel of application remains consistent.

## Acceptance Criteria
- [ ] Improve dialog background
- [ ] Improve text size for every dialog
- [ ] Improve text color, background
- [ ] Removed unused attributes

## Definition of Done
- [ ] Approval by 2 mentors
- [ ] All of the re

[2018-07-23 13:20] #339 closed, assigned to geekanamika

[2018-07-23 13:27] geekanamika opened #347 "Request Message App Permissions inside MedicineStoreFragment"
## Description
As a developer,
I need to ask for SEND_SMS permission for API >=23
so that User can use message app for sending SMS.

## Acceptance Criteria
- [ ] Improve orderMedicineListener method in MedicineStoreFragment for `gsoc18-code` branch

## Definition of Done
- [ ] Approval by 1 mentors
- [ ] All of the required items are completed

## Estimated time
6 hours

[2018-07-23 13:33] geekanamika opened #348 "Reset button implementation"
## Description
As a developer,
I need to clear all app data (sqlite + preferences) on reset button confirmation
so that User can reset medicine setting preferences inside UserMedicine Setting activity.

## Acceptance Criteria
- [ ] Improve onOptionsItemSelected implementation inside MainActivity
- [ ] Reset data methods in AppDataManager file

## Definition of Done
- [ ] Approval by 1 mentors
- [

[2018-07-23 13:38] geekanamika opened #349 "Improve Order medicine by email feature"
## Description
As a developer,
I need to send "Medicine order" from user's email id if available in preferences
so that User can send message easily and doesn't need to enter email manually.

## Acceptance Criteria
- [ ] Improve orderMedicineListener method in MedicineStoreFragment for `gsoc18-code` branch
- [ ] Check if email id saved in preference - use it while creating emailIntent

## Definiti

[2018-07-24 11:36] geekanamika opened #350 "Fix codacy errors in GSoC18-Code branch"
## Description
As a developer,
I need to correct the implementation for codacy errors
so that Application won't crash unexpectedly.

## Example
1. Avoid these long list of Getters
![image](https://user-images.githubusercontent.com/16922933/43135353-bb7b8d14-8f62-11e8-9b51-30435b0f7b12.png)
2. Avoid throwing raw exception types
![image](https://user-images.githubusercontent.com/16922933/43135555-6d

[2018-07-27 16:04] yatri1609 commented on #74
@geekanamika @m-murad @ExactlyMay Can I go ahead with this? Since it is open since long time.

[2018-07-27 17:56] geekanamika opened #351 "Implement Plan Trip using MVP architecture"
## Description
As a developer,
I need to shift current TripReminder activity implementation to PlanTrip fragment
so that I can use access it via bottom navigation.

## Acceptance Criteria
- [ ] PlanTrip fragment
- [ ] Different fragments/dialogues that will start with button click in Plan Trip frament

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors

[2018-07-27 18:03] geekanamika opened #352 "Create layout for Plan Trip fragment"
## Description
As a developer,
I need to improve UI of Plan Trip fragment
so that It follow material design & application theme.

## Acceptance Criteria
- [ ] fragment_plantrip
- [ ] dialogues that will be created in fragment_plantrip

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
48 hours

[2018-07-28 15:58] geekanamika commented on #74
@yatri1609  Sure, Go ahead :) Fetch code from `gsoc18-code` branch as it contains the latest updates.

[2018-07-28 16:53] yatri1609 commented on #74
@geekanamika Sure thanks

[2018-07-28 17:15] aayushinigam commented on #347
I would like to work on this.

[2018-07-28 17:16] geekanamika commented on #347
@aayushinigam Go ahead :+1:

[2018-07-29 08:59] geekanamika opened #354 "GSoC18-Code : Add comments in new implementation"
## Description
As a developer,
I need to add comments in the codebase,
so that I can understand the reason behind code & approach used.

### Update [Required]
- [ ] Class files

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estimation
24 hours

[2018-07-29 17:19] aayushinigam opened #356 "App crashes when no quantitiy is entered in MedicineStoreFragment"
## Description
As a user,
I need to be notified when quantity is not entered in MedicineStore,
so that I can update it.

## Acceptance Criteria
### Update [Required]
- [ ] Handle error in MedicineStoreFragment

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2018-07-29 17:29] geekanamika commented on #356
I believe, it's MedicineStoreFragment, right(issue title)?
Since, It won't include major changes, send PR which solve this issue along with #347 :)

[2018-07-31 16:09] #352 closed, assigned to geekanamika

[2018-07-31 16:10] #351 closed, assigned to geekanamika

[2018-07-31 16:34] geekanamika opened #357 "Travis build failed in gsoc18-code branch"
## Description
As a developer,
I need successful Travis/gradle build,
so that project doesn't break during gradle build.

## Mocks
![image](https://user-images.githubusercontent.com/16922933/43473399-a8978d8c-950d-11e8-9c47-5262dc677062.png)

## Acceptance Criteria
- [ ] Add peacecorps_small.png in project which was removed in #353

## Definition of Done
- [ ] All of the required items are complet

[2018-08-02 10:21] mohak1283 commented on #356
I would like to work on this issue

[2018-08-02 11:17] mohak1283 commented on #349
I would like to work on this issue.

[2018-08-02 12:56] geekanamika commented on #349
Sure @mohak1283 , go ahead :)

[2018-08-02 12:57] geekanamika commented on #356
Hey @mohak1283 , I've already assigned one issue to you, complete it & then you can claim it later if available.

[2018-08-02 19:09] mohak1283 commented on #356
Okay @geekanamika

[2018-08-02 23:06] #357 closed, assigned to nobody

[2018-08-02 23:08] #344 closed, assigned to geekanamika

[2018-08-02 23:12] geekanamika opened #359 "Create material layout for select item screen"
## Description
As a developer,
I need to create layout following material design
so that I can use it in select item fragment

## Acceptance Criteria
- [ ] layout for fragment item select
- [ ] use constraint layout for better performance
- [ ] create dependant layouts

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
36 hours

[2018-08-02 23:14] geekanamika opened #360 "Create material layout for home screen fragment"
## Description
As a developer,
I need to create layout following material design
so that I can use it in home screen fragment

## Acceptance Criteria
- [ ] layout for fragment item select
- [ ] use constraint layout for better performance

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
12 hours

[2018-08-02 23:17] geekanamika opened #361 "Create material layout for analysis screen"
## Description
As a developer,
I need to create two layouts following material design
so that I can use it in for viewpagers displayed in home screen fragment

## Acceptance Criteria
- [ ] layout for fragment item select
- [ ] use constraint layout for better performance

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
24 hours

[2018-08-02 23:31] geekanamika commented on #343
Info hub fragment has been created, diff fragment that starts from info hub fragment is dependant on macc api, closing issue.

[2018-08-02 23:31] #343 closed, assigned to geekanamika

[2018-08-02 23:34] geekanamika commented on #327
Bottom navigation is working successfully, closing this issue.

[2018-08-02 23:34] #327 closed, assigned to haroonshah2764

[2018-08-02 23:41] geekanamika opened #362 "Create Full screen dialog fragment for selecting item with MVP implementation"
## Description
As a developer,
I need to create Full screen dialog fragment for selecting item inside trip reminder screen
so that look & feel of application follows material design.

## Acceptance Criteria
- [ ] SelectItemFragment with custom layout following MVP implementation
- [ ] it's presenters and view's functions
- [ ] validity check inside fragment
- [ ] handles sqlite/prefernces transact

[2018-08-03 14:04] geekanamika opened #364 "Add Feature discover animation in Rapid fire/Myth vs Fact game"
## Description
As a developer,
I need to inform user for the feature inside game
so that User will get information about game before playing it.

## Acceptance Criteria
- [ ] Use Google's material design guidelines
- [ ] Expected UI : https://github.com/KeepSafe/TapTargetViewd
- [ ] Comes only for the first time when playing game
- [ ] Can watch again from selecting menu option

## Definition of D

[2018-08-04 12:20] geekanamika commented on #307
Color scheme is constant in application now, closing this issue.

[2018-08-04 12:20] #307 closed, assigned to nobody

[2018-08-04 12:25] geekanamika commented on #314
There's one open `available` lint issues, closing this one(many of the errors above mentioned are either removed or file has been deleted itself).

[2018-08-04 12:25] #314 closed, assigned to nobody

[2018-08-04 12:27] geekanamika commented on #328
Snack bar has been added in project. ToastLogSnack bar util file contains a function to create app-theme based snack bar, merged in #363  closing it.

[2018-08-04 12:27] #328 closed, assigned to haroonshah2764

[2018-08-04 12:36] geekanamika commented on #320
It has been implemented successfully, closing this PR.

[2018-08-04 12:36] #320 closed, assigned to geekanamika, haroonshah2764

[2018-08-04 12:37] geekanamika commented on #362
Implemented in #363

[2018-08-04 12:37] #362 closed, assigned to geekanamika

[2018-08-04 12:53] geekanamika commented on #107
I've added a reset icon accordingly to material design guidelines in #363  Closing this issue.

[2018-08-04 12:56] geekanamika commented on #350
Resolved in #363

[2018-08-04 12:56] #350 closed, assigned to geekanamika

[2018-08-04 12:59] geekanamika commented on #283
We have entity classes as suggested by Room guidelines. We can close this issue, Please create another issue if you find bugs or discuss in #malaria Slack channel.

[2018-08-04 12:59] #283 closed

[2018-08-04 13:10] geekanamika commented on #331
I've replaced edit-text to TextInputEditText in screens, We can close this PR.

[2018-08-04 13:10] #331 closed, assigned to haroonshah2764

[2018-08-04 13:18] geekanamika commented on #206
It's resolved in MedicineStoreFragment - `gsoc18-code` branch. Closing this issue.

[2018-08-04 14:00] geekanamika commented on #74
Resolved through #353  , closing this issue.

[2018-08-08 18:22] #359 closed, assigned to geekanamika

[2018-08-08 18:22] #354 closed, assigned to geekanamika

[2018-08-08 18:22] #345 closed, assigned to geekanamika

[2018-08-08 18:23] geekanamika commented on #337
As per new UI changes, it's not needed.

[2018-08-08 18:23] #337 closed, assigned to geekanamika

[2018-08-08 18:24] geekanamika opened #365 "Create tabs in Profile item"
**Description**
As a developer,
I need to create tabs with Analysis fragment
so that I can display them when Profile item is selected in bottom navigation

**Acceptance criteria**
* ./gradlew assembleDebug runs successfully
* App functionality remains as expected
* Approval by two mentors

**Estimated Hours**
48 hours

[2018-08-08 18:26] geekanamika opened #366 "Implement MVP for First & second analysis screens"
**Description**
As a developer,
I need to shift analysis fragment implementation to MVP
so that I can maintain consistency in project code & follow one architecture throughout the code.

**Acceptance criteria**
* ./gradlew assembleDebug runs successfully
* App functionality remains as expected
* Approval by two mentors

**Estimated Hours**
48 hours

[2018-08-08 18:30] geekanamika opened #367 "Create Edit profile activity in profile section"
**Description**
As a developer,
I need to create edit profile activity in profile section of bottom navigation
so that I can allow user to edit profile details.

**Acceptance criteria**
* ./gradlew assembleDebug runs successfully
* Start activity by menu action in profile item of bottom navigation
* App functionality remains as expected
* Approval by two mentors

**Estimated Hours**
12 hours

[2018-08-08 18:32] geekanamika opened #368 "Implement MVP in home screen fragment"
**Description**
As a developer,
I need to shift Home Screen fragment implementation to MVP
so that I can maintain consistency in project code & follow one architecture throughout the code.

**Acceptance criteria**
* ./gradlew assembleDebug runs successfully
* App functionality remains as expected
* Approval by two mentors

**Estimated Hours**
24 hours

[2018-08-12 16:01] yatri1609 commented on #364
@geekanamika Can I work on this issue? Since I had tried doing same for some of other apps. So I have experience about the same.

[2018-08-12 17:53] geekanamika commented on #366
Closing issue, code merged.

[2018-08-12 17:53] #366 closed, assigned to geekanamika

[2018-08-12 17:54] geekanamika commented on #368
Code merged, closing the issue.

[2018-08-12 17:54] #368 closed, assigned to geekanamika

[2018-08-12 17:54] geekanamika commented on #367
Code merged, closing the issue.

[2018-08-12 17:54] #367 closed, assigned to geekanamika

[2018-08-12 17:54] geekanamika commented on #365
Code merged, closing the issue.

[2018-08-12 17:54] #365 closed, assigned to geekanamika

[2018-08-12 17:56] geekanamika commented on #364
Hey @yatri1609 , I've implemented this feature already. Forgot to add `gsoc` label here. I'll be creating more issues in upcoming days :)

[2018-08-12 17:58] geekanamika commented on #356
@aayushinigam  Any updates on this issue?

[2018-08-12 17:58] geekanamika commented on #349
@mohak1283  Updates?

[2018-08-12 17:59] #330 closed, assigned to haroonshah2764

[2018-08-12 18:02] yatri1609 commented on #364
@geekanamika ohk cool np !

[2018-08-12 18:03] geekanamika commented on #140
Viewpager is removed from application & analysis screens are now shift to profile item in bottom navigation. Closing this issue.

[2018-08-12 18:03] #140 closed

[2018-08-12 18:06] geekanamika commented on #215
App is currently using bottom navigation, closing this issue.

[2018-08-12 18:06] #215 closed

[2018-08-12 18:35] aayushinigam commented on #356
@geekanamika I have solved this but the problem that I notified you about on slack still exists. Now that you are free from gsoc work, could you please check that code(I shared its link on slack)?

[2018-08-13 13:46] geekanamika commented on #319
This is an enhancement which can be opened later, closing it.

[2018-08-13 13:46] #319 closed, assigned to nobody

[2018-08-13 13:47] geekanamika commented on #322
This is an enhancement which can be opened later, closing it.

[2018-08-13 13:47] #322 closed, assigned to nobody

[2018-08-13 13:49] geekanamika commented on #321
This is an enhancement which can be opened later, closing it.

[2018-08-13 13:49] #321 closed, assigned to nobody

[2018-08-13 13:50] geekanamika commented on #304
MVP is implemented in code through multiple PRs, closing it.

[2018-08-13 13:50] #304 closed, assigned to geekanamika, haroonshah2764

[2018-08-13 13:55] geekanamika commented on #348
Merged.

[2018-08-13 13:55] #348 closed, assigned to nobody

[2018-08-13 14:15] #68 closed

[2018-08-13 14:17] geekanamika commented on #35
low priority issue, closing with open-later label.

[2018-08-13 14:17] #35 closed

[2018-08-13 14:19] geekanamika commented on #177
App is restricted to potrait mode now due to unavailability of landscape layouts. Dialogs works as expect, closing this issue.

[2018-08-13 14:20] geekanamika commented on #176
App is restricted to potrait mode now due to unavailability of landscape layouts. Dialogs works as expect, closing this issue.

[2018-08-13 14:24] geekanamika commented on #172
App is restricted to potrait mode now due to unavailability of landscape layouts. Dialogs works as expected, closing this issue.

[2018-08-13 14:25] geekanamika commented on #163
not relevant to current UI flow, closing this issue.

[2018-08-13 14:25] #163 closed

[2018-08-13 14:26] geekanamika commented on #162
App is restricted to potrait mode now due to unavailability of landscape layouts. Dialogs works as expected, closing this issue.

[2018-08-13 14:26] #162 closed

[2018-08-13 14:27] geekanamika commented on #152
App is restricted to potrait mode now due to unavailability of landscape layouts. Dialogs works as expect, closing this issue.

[2018-08-13 14:27] #152 closed

[2018-08-13 14:29] geekanamika commented on #244
Infohub is not receiving any data from network, we can open this issue later.

[2018-08-13 14:29] #244 closed

[2018-08-13 14:31] geekanamika commented on #241
Info-hub is not receiving any data from network, we can open this issue later.

[2018-08-13 14:31] #241 closed

[2018-08-13 14:33] geekanamika commented on #199
Issue is handled in PR #370
Closing this issue.

[2018-08-13 14:33] #199 closed

[2018-08-13 14:37] geekanamika commented on #182
Infohub is not receiving data from network, we can open this issue later.

[2018-08-13 14:37] #182 closed

[2018-08-13 14:41] geekanamika commented on #180
info-hub is not implemented in updated code, we can open this issue later.

[2018-08-13 14:41] #180 closed

[2018-08-16 05:49] geekanamika opened #371 "Update widgets to Room database functions"
## Description
As a developer,
I need widgets in application to have updated db code,
so that I can create widgets for trip reminding.

## Acceptance Criteria
- [ ] Widgets should work as old implementation

### Update [Required]
- [ ] Widgets directory

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
24 hours

[2018-08-16 05:53] geekanamika opened #372 "Update Trip reminder notifications"
## Description
As a developer,
I need to update trip reminder notification with room db,
so that I can receive notifications on reminder date saved by user.

## Acceptance Criteria
- [ ] update code similar to drug reminder notification
- [ ] shift receivers, services in respective directories from `gsoc18-code`

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval b

[2018-08-16 06:39] geekanamika commented on #246
This issue has been resolved in updated `gsoc18-code` branch.

[2018-08-16 06:39] #246 closed

[2018-08-19 17:16] mohak1283 commented on #349
I asked on slack channel that I have solved this issue but don't know how to upload that on github?
Means how to create a pull request?. But no one replied yet?

[2018-08-22 11:01] geekanamika commented on #364
Code merged.

[2018-08-22 11:01] #364 closed, assigned to geekanamika

[2018-08-22 11:05] geekanamika commented on #361
Code merged.

[2018-08-22 11:05] #361 closed, assigned to geekanamika

[2018-08-22 11:06] geekanamika commented on #335
Code merged.

[2018-08-22 11:06] #335 closed, assigned to geekanamika

[2018-08-22 11:06] #302 closed, assigned to geekanamika, haroonshah2764

[2018-08-22 11:06] geekanamika commented on #360
Code merged.

[2018-08-22 11:06] #360 closed, assigned to geekanamika

[2018-08-22 11:07] geekanamika commented on #249
Resolved in updated code, closing this issue.

[2018-08-22 11:07] #249 closed

[2018-08-22 11:08] geekanamika commented on #329
UI was updated during GSoC period.
For more changes, we can create separate issues instead, closing this issue.

[2018-08-22 11:08] #329 closed, assigned to haroonshah2764

[2018-08-22 11:10] geekanamika commented on #150
We can close this issue for now as layouts for landscape screen are not available, app is restricted to portrait mode only.

[2018-08-22 11:10] #150 closed

[2018-08-22 11:11] geekanamika commented on #291
I'll create separate multiple small first-timers issue for lint errors from updated code, closing this issue.

[2018-08-22 11:11] #291 closed

[2018-08-22 11:13] geekanamika commented on #261
We can open this issue later when bugs issues are resolved in project, this is low priority now.

[2018-08-22 11:13] #261 closed

[2018-08-22 11:15] geekanamika commented on #181
Resolved in `apk` branch already, closing this issue.

[2018-08-22 11:15] #181 closed

[2018-08-22 11:17] geekanamika commented on #69
In updated master branch, we don't this screen. We can open this issue later once existing bugs are resolved.

[2018-08-22 11:17] #69 closed

[2018-09-02 14:09] shikherjaiswal commented on #356
Is the issue available? If so ,I would like to work on this @geekanamika

[2018-09-03 04:00] aayushinigam commented on #356
@shikherjaiswal You can take this up!

[2018-09-03 09:35] shikherjaiswal commented on #356
@aayushinigam  @geekanamika do I need to submit a PR solving this issue and issue #347 in this PR ?

[2018-09-03 11:41] aayushinigam commented on #356
Yes. You have to solve both the issues in the same PR.

[2018-09-04 15:20] shikherjaiswal commented on #356
@aayushinigam @geekanamika  Please review my PR .

[2018-10-03 06:04] geekanamika opened #375 "Shift dependency versions in project level gradle file"
## Description
As a developer,
I need all version at one place
so that I can change/update dependency easily and it's maintainable.

## Acceptance Criteria
* Create appropriate version variables in project level gradle file

### Update [Required]
- build.gradle (project)
- build.gradle(app)

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 maintainer.

## Es

[2018-10-03 06:06] geekanamika commented on #372
If doubts, join Systers open source slack & discuss in #malaria channel.

[2018-10-03 06:07] #274 closed

[2018-10-03 06:08] #250 closed